<div id="foot">
<footer class="page-footer black">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text"> CONTACT US</h5>
               <p class="grey-text text-lighten-4">Corporate Office:
               JE 35 A , Gupta colony ,KHRIKI EXTENSION ,
               Malviya nagar
               New delhi 110017</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">   Email us  :-</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">
                    customercare@tripstring.com</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">connect@tripstring.com</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!"> sales@tripstring.com</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">   travel@tripstring.com</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">   mice@tripstring.com</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">  bhanupahwa@tripstring.com</a></li>
               </ul>
             </div>
               <div class="col l4 offset-l2 s12">
                 <h5 class="white-text"> Connect with us on </h5>

                   <i class="fab fa-facebook medium"></i>
                   <i class="fab fa-twitter medium mt-2"></i>
                   <i class="fab fa-instagram medium "></i>

             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 Copyright Text

           </div>
         </div>
       </footer>
     </div>



    </body>

</html>
