<html>
  <head>
          <title>

          </title>

          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
          <link rel="stylesheet" href="/css/bootstrap.css">
          <link rel="stylesheet" href="/css/font-awesome.min.css">
          <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
          <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
          <link rel="stylesheet" href="/css/responsive.css">
      </head>
<body>
  <div class="navbar-fixed">
  <nav class="black " style="
            height: 5rem;
        /* line-height: 30px */
    ">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><span><img style="width:8rem" src="/img/logo.png" alt=""></span>Trip String</a>
        <a class="button-collapse" data-activates="mobile-nav" href="#">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/tripstring">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="#foot">Contact</a>
          </li>
          <li>
            <a href="#special1">TravelPackages</a>
          </li>
          <li>
            <a href="/form_mice">Mice</a>
          </li>
          <li>
            <a href="#">DestinationWeddings</a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons">person</i>
            </a>
          </li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
          <li>
            <a href="/tripstring">Home</a>
          </li>
          <li>
            <a href="/views/about.ejs">About</a>
          </li>
          <li>
            <a href="#foot">Contact</a>
          </li>
          <li>
            <a href="#special1">TravelPackages</a>
          </li>
          <li>
            <a href="/form_mice">Mice</a>
          </li>
          <li>
            <a href="#">DestinationWeddings</a>
          </li>
          <li>
            <a href="#">
              <i class="material-icons">person</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>






  <script src="js1/jquery.min.js"></script>
  <script src="js1/popper.min.js"></script>
  <script src="js1/bootstrap.min.js"></script>
  <script src="js1/navbar-fixed.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>



<script>
     $('.button-collapse').sideNav();

     // $(document).ready(function(){
     //   $('.sidenav').sidenav();
     // });

</script>
