
<% include ./partials/header %>
<style>body{
  font-family: 'Ubuntu', sans-serif;
}</style>

<div class="row">
  <img src="/img/about.jpg" alt="" class="responsive-img" style="width:100%;">

  <div class="container">

  <div class="col l6 s12 ">
    <img src="/img/logo.png" alt="" class="responsive-img pt-5 mt-5" style="border:2px solid lime;border-radius:30%;" >


  </div>
  <div class="col l6 s12">
    <h2 class="purple-text">Trip string (opc) Pvt. Ltd</h2>

    <p>Trip string (opc) Pvt. Ltd founded in the year 2017 is an Indian based travel and MICE company that offers an array of services to its guests.</p>
    <p>We specialize in Domestic, Inbound & Outbound Tourism and cater to the different segments of travelers like Honeymoon Couples, Family Groups, Corporate Groups and Students among others and serve them with great deal of efficiency.</p>
    <p>A MICE based company plans unique Meetings, Exhibitions, Events like annual day celebrations, award ceremonies, celebrity appearances farewell events, award nights, incentive programmers, induction programmers, product launches.
    Trip string believes in providing the best quality service to its guests starting from the day their travel begins to the moment their journey ends.</p>
    <p>We work on the principle of 5 A’s of tourism products, i.e.  Attraction, Accessibility , Accommodation, Activities, Amenities.</p>

  </div>
  </div>

</div>
<hr>
<div class="container center">
<h3>Why <span class="pink-text">TripString???</span></h3>
<img src="/img/whytrip.png" alt="">
</div>
<% include ./partials/footer %>
