<% include ./partials/header %>
<link rel="stylesheet" href="/css/form.css">

    <div class="container" id="form">
      <div id="sty">
       <h1 class="center">Select your own package</h1>

           <form action="/form" method="POST">
             <h3>   <i class="material-icons prefix medium">account_circle</i>  Name</h3>
             <div class="form-row">
               <div class="col">
               <input type="text" class="form-control" name="user[firstname]"placeholder="First name">
               </div>
               <div class="col">
               <input type="text" class="form-control"  name="user[lastname]"placeholder="Last name">
               </div>
            </div>
               <h3>Message</h3>
               <div class="form-row">
                 <div class="col">
                 <textarea class="materialize-textarea"></textarea>
                 </div>
              </div>
              <h3> Phone Number</h3>
                <div class="form-group">
                    <input class="form-control" type="text" name="user[phoneno]" placeholder="name">
                </div>
                <h3>Email id</h3>
                  <div class="form-group">
                      <input class="form-control validate" type="text" name="user[email]" placeholder="name">
                  </div>
              <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Submit Now</button>
              </div>
          </form>
</div>
</div>
<% include ./partials/footer %>
