<!-- <% include ./partials/header %> -->

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	 <!------Heading------->
	  <div class="heading">
	  	<h2>Select Your Own Package</h2>
	  </div>

     <!------Form Box------>
      <div class="container">
      	 <form action="" class="form">
      	 	<input type="text" name="fullname" placeholder="Full Name">
      	 	<input type="text" name="phone" placeholder="Phone Number">
      	 	<select name="" id="" class="dropdown">
      	 		<option value="" disabled selected>M.I.C.E Type</option>
            <!-- <option value="" disabled selected>Choose your option</option> -->
            <option value="1">CORPORATE EVENT</option>
            <option value="2">CONFRENCES & SEMINAR</option>
            <option value="3">PRODUCT LAUNCHES</option>
            <option value="4">BRAND ACTIVATION</option>
            <option value="5">EXHIBITIONS</option>
            <option value="6">CORPORATE ENTERTAINMENT</option>
            <option value="7">AWARD CEREMONIES</option>
            <option value="8">REWARD & INCENTIVE</option>
            <option value="9">THEME EVENTS</option>
            <option value="10">CORPORATE PARTIES</option>
            <option value="11">COLLEGES EVENTS</option>
            <option value="12">SCHOOL EVENTS </option>
            <option value="13">OTHERS</option>
      	 	</select>
      	 	<textarea name="message" id="" cols="30" rows="5" placeholder="Message"></textarea>
      	 	<button class="submit">Submit</button>
      	 </form>
      </div>
</body>
</html>
