<% include ./partials/header %>
<link rel="stylesheet" href="/css/index.css">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">

<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/main_styles.css">
<div class="linear">
  <div class="home_background" style="background-image:url(images/home.jpg)"></div>

<div class="container">
  <div class="home_text_large">TripString</div>
  <div class="home_text_small">

<h2 class="center lime-text text-accent-1">Customize & Book
Amazing </h2><h2 class="center lime-text text-accent-1">Holiday Packages & events </h2><h2 class="center lime-text text-accent-1">at your budget !!</h2>
</h1>
</div>
</div>
</div>



<div class="container">
  <h1 class="center cyan-text text-darken-3">What you are looking for ??</h1>
  <hr>
</div>
<div id="second">
<div class="container">
<div class="row">
  <div class="col col-lg-4 col-sm-3"><img src="/img/group2.jpg" alt=""><div class="centered">Group Tour</div></div>
  <div class="col col-lg-5 col-sm-5"><img src="/img/honeymoon.jpg"  alt=""><div class="centered">Honeymoon Tour</div></div>

  <div class="col col-lg-3 col-sm-4"><img src="/img/international.jpg"  alt=""><div class="centered">International Tour</div></div>

</div>

<div class="row">
  <div class="col col-lg-3 col-sm-5"><img src="/img/family1.jpg" alt=""><div class="centered">Family Tour</div></div>
  <div class="col col-lg-3 col-sm-5"><img src="/img/domestic1.png" alt=""><div class="centered">Domestic Tour</div></div>
  <div class="col col-lg-3 col-sm-5"><img src="/img/business.jpg" alt=""><div class="centered">Business Tour</div></div>
  <div class="col col-lg-3 col-sm-5"><img src="/img/india.jpg" alt=""><div class="centered">Indian Tour</div></div>


</div>
</div>
</div>







	<div class="special">
		<div class="container">

			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1 class="green-text text-accent-4" id="font">Special offers</h1>
            <hr>
						<h3 class="lime-text text-darken-4">Take a look at these offers</h3>
					</div>
				</div>
			</div>
		</div>
    <div id="special1">


		<div class="special_content">
			<div class="special_slider_container">
				<div class="owl-carousel owl-theme special_slider">

					<!-- Special Offers Item -->
					<div class="owl-item">
						<div class="special_item">
							<div class="special_item_background"><img src="images/special_3.jpg"></div>
							<div class="special_item_content text-center">
								<div class="special_category">Visiting</div>
								<div class="special_title"><a href="/shimla">Shimla</a></div>
							</div>
						</div>
					</div>

					<!-- Special Offers Item -->
					<div class="owl-item">
						<div class="special_item d-flex flex-column align-items-center justify-content-center">
							<div class="special_item_background"><img src="img/manali.jpg"></div>
							<div class="special_item_content text-center">
								<div class="special_category">Heaven</div>
								<div class="special_title"><a href="/manali">Manali</a></div>
							</div>
						</div>
					</div>

					<!-- Special Offers Item -->
					<div class="owl-item">
						<div class="special_item d-flex flex-column align-items-center justify-content-center">
							<div class="special_item_background"><img src="img/dharam2.jpg" ></div>
							<div class="special_item_content text-center">
								<div class="special_category">Sunbathing</div>
								<div class="special_title"><a href="/dharam">Dharamshala</a></div>
							</div>
						</div>
					</div>

					<!-- Special Offers Item -->
					<div class="owl-item">
						<div class="special_item d-flex flex-column align-items-center justify-content-center">
							<div class="special_item_background"><img src="img/Tigerhill.jpg"></div>
							<div class="special_item_content text-center">
								<div class="special_category">Visiting</div>
								<div class="special_title"><a href="/darjelling">Darjeling</a></div>
							</div>
						</div>
          </div>
            <div class="owl-item">
    <div class="special_item d-flex flex-column align-items-center justify-content-center">
      <div class="special_item_background"><img src="img/kashmir1.webp"></div>
      <div class="special_item_content text-center">
        <div class="special_category">Visiting</div>
        <div class="special_title"><a href="/kashmir">Kashmir</a></div>
      </div>
    </div>
  </div>


</div>

<div class="special_slider_nav d-flex flex-column align-items-center justify-content-center">
  <img src="images/special_slider.png" alt="">
</div>
</div>
</div>
</div>
</div>


	<div class="last">

		<div class="last_background parallax-window" data-parallax="scroll" data-image-src="images/last.jpg" data-speed="0.8"></div>

		<div class="container">
			<div class="row">
				<div class="last_logo"><img src="images/last_logo.png" alt=""></div>
				<div class="col-lg-6 last_col">
					<div class="last_item">
						<div class="last_item_content">
							<div class="last_subtitle">INDIA</div>
							<div class="last_percent">Rajasthan</div>
							<div class="last_title">Grand Tour</div>
              <h3>19 Days tour!!</h3>
							<div class="last_text">
Delhi - Agra - Ranthambhore - Jaipur - Pushkar - Udaipur - Mount Abu - Jodhpur - Jaisalmer - Bikaner - Mandawa - Delhi
</div>
							<div class="button last_button"><a href="/rajasthan">See Offer</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 last_col">
					<div class="last_item">
						<div class="last_item_content">
							<div class="last_subtitle">INDIA</div>
							<div class="last_percent">Destination </div>
							<div class="last_title">Wedding</div>
              <h3>Choose your</h3>
              <h3>favourite destination</h3>
              <h4>Udaipur - Amritsar - Goa - Agra - Kerala</h4>


							<div class="button last_button"><a href="offers.html">See Offer</a></div>
              <br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>











<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="js/custom.js"></script>




<% include ./partials/footer %>
