<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<!------Heading------->
<div class="heading">
  <h2>Write Your Query</h2>
</div>

 <!------Form Box------>
  <div class="container">
     <form action="" class="form">
      <input type="text" name="fullname" placeholder="Full Name">
        <textarea name="message" id="" cols="30" rows="5" placeholder="Query"></textarea>
      <input type="text" name="phone" placeholder="Phone Number">
    <input type="text" name="email" placeholder="Email">

      <button class="submit">Submit</button>
     </form>
  </div>
</body>
</html>
