* {
	margin: 0;
	padding: 0;
}
*:focus {
   outline: none;
}
body {
    font-family: 'Raleway', sans-serif;
	background:#80C1AA;
}
.heading h2{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-top: 30px;

}
.container {
	position: relative;
	height: 40rem;
	width: 26rem;
	background:#fff;
	border-radius: 1.525rem;
	margin: 2% auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.form {
	position: absolute;
	margin-left: 20px;
    margin-top: 10%;

}

input[type=text]{
	width: 18.75rem;
	height: 30px;
	border: 2px solid #EDEDED;
	margin-top: 20px;
	padding: 5px;
	margin-left: 15px;
	font-size: 15px;
	font-family: inherit;
}
select {
	width: 19.6875rem;
	height: 40px;
	border: 2px solid #EDEDED;
	margin-top: 20px;
	padding: 10px;
	margin-left: 15px;
	font-size: 15px;
	font-family: inherit;
}

textarea{
    width:18.125rem;
	height: 80px;
	border: 2px solid #EDEDED;
	margin-top: 20px;
	padding: 10px;
	margin-left: 15px;
	font-size: 15px;
	font-family: inherit;
}

.submit {
	background: #7598A9;
	color: #fff;
	border-radius: 30px;
	border:none;
	padding: 10px 40px;
	font-family: inherit;
	text-transform: uppercase;
	margin: 20px 6.25rem;
}
h3{
  margin-top: 20px;
}
