<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span> AGRA  TOUR</h1>
  <p class="teal-text text-darken-4">
Agra is a major tourist destination because of its many Mughal-era buildings, most notably the Tāj Mahal, Agra Fort and Fatehpūr Sikrī, all of which are UNESCO World Heritage Sites.[6] Agra is included on the Golden Triangle tourist circuit, along with Delhi and Jaipur; and the Uttar Pradesh Heritage Arc, tourist circuit of UP state, along Lucknow and Varanasi. Agra falls within the Braj cultural region.
</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>

<div class="container">
<div class="row">
    <div class="col l12">
      <ul class="tabs">
        <li class="tab col l4"><a  class="active" href="#test-swipe-1">Same Day Agra Tour By Car</a></li>
        <li class="tab col l4"><a  href="#test-swipe-2">Same Day Agra Tour By Train</a></li>
          <li class="tab col l4"><a  href="#test-swipe-3">Same Day Jaipur Tour </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container" id="test-swipe-1">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="/img/agra1.jpg" alt="">

              </div>
							<div class="col l8">
								<h2 class="center teal-text">Same Day Agra Tour By Car</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">06:00 hrs</button>
                <strong>Picking Up</strong></h4><p>
                  Pick up from hotel & proceed to Agra by Car.
    This early morning our driver will pick you up and you will proceed to Agra. Midway you will stop for refreshment. Around 10:30 hrs you will reach Agra City and will be taken straight to Taj Mahal. The Mughal City Agra is most famous for the Taj Mahal, one of the seven wonders of the world.

                </p>


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">11:00 hrs
</button>  <strong>Visit Taj Mahal</strong></h4>
                <p>

                  Around 11:00 hrs you will reach the Taj Mahal. The Taj Mahal, an essential sight for all visitors to India is one of the most achingly beautiful architectural achievements in the world, and is considered to be a symbol of enduring love. Shrouded in white marble the sheer elegance, purity and sentiment that are an integral part of the monument have touched the hearts ofpeople from all corners of the world. One of the seven wonders of the world and a world heritage site was built by Mughal Emperor Shah Jahan in loving memory of his beloved wife Mumtaz Mahal who died while giving birth to their fourteenth child. Built in pure white marble Taj Mahal is located along the banks of the River Yamuna, the Taj spreads across almost 42 acres of land and it is believed that this particular spot was chosen by the emperor because of its peaceful and soothing effect. One of the seven wonders of the world, it stands as a tribute to undying love and all who visit it stand awed at the first impression created by this marvel in white marble.


                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">13:30 hrs</button>  <strong>Lunch in a Agra's Best Restaurant</strong></h4>
                <p>

                  After visiting Taj Mahal you will be taken to a Agra's Best Restaurant to have buffet lunch.



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">14:30 hrs</button>  <strong>Visit Agra Fort</strong></h4>
                <p>

                  After lunch you will visit Agra Fort constructed by Emperor Akabar in 1565 A.D and includes many other buildings like the Moti Masjid and Musanman Burj, where Shah Jahan is believed to have been imprisoned and died.


                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">16:30 hrs</button>  <strong>Visit Itmad-ud-daula
</strong></h4>
                <p>

                  Itmad-ud-daula has a special place in the chronicles of both history as well as architecture. This is precisely because Itmad ud Daula is the very first tomb in India that is entirely made out of Marble. This is actually a mausoleum that overlooks the River Yamuna and is a tomb of Mir Ghiyas Beg, a minister in the court of Shah Jahan.

Jahangir fell in love with his widowed daughter who processes unspeakable beauty. She was later christened Noor Jahan and went down in the history as one of the most beautiful and artistically gifted women in the world. Jahangir conferred the title of Itmad-ud-daula or 'Pillar of the Empire' to his father-in-law. Noor Jahan ordered the tomb after the death of her father in 1622.



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">17:00 hrs</button>  <strong>Proceed back to Delhi</strong></h4>
                <p>

                  Finally you will proceed back to Delhi along with an impression of Taj and a sheer magic that the Taj exudes making it an unforgettable and cherished image forever.



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">19:00 hrs</button>  <strong>Refreshment on the way </strong></h4>
                <p>

                  You will stop over midway to have refreshment and continue your drive to Delhi.


                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">21:30 hrs</button>  <strong></strong></h4>
                <p>

                  Arrive Delhi pick up & drop to your hotel/airport.
  On arrival at Delhi you will be dropped at your hotel or airport for your onward journey.


                </p>

              </div>

							</div>
						</div>
          </div>





          <div class="container" id="test-swipe-2">
          							<div class="row">
                           <div class="col l4">
                          <img  class="responsive-img" src="/img/agra2.jpg" alt="">
                        </div>
          							<div class="col l8">
          								<h2 class="center teal-text">Same Day Agra Tour By Train
</h2>
          								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light orange">05 :15 Hrs. </button>
                          <strong>Same Day Agra Tour By Train</strong></h4><p>
                          Our company representative will meet you at the airport/railway station or pre booked hotel, Breakfast Onboard Train.
                          </p>


                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light deep-purple">08: 15 Hrs. </button>  <strong>Visit Taj Mahal</strong></h4>
                          <p>

                            On arrival, you will be taken to the hotel to refresh yourself. You will be acquainted with your guide, who will take you to the famous tourist attractions of Agra . Visit Taj Mahal,Which is Symbol of Love.



                          </p>
                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light cyan">11:30 Hrs</button>  <strong> Visit Agra Fort</strong></h4>
                          <p>
                            After Taj Mahal Visit , Proceed For Agra Fort, Which is Situated on the Banks of Yamuna River, North West of the Taj Mahal, This Majestic Fort Was Started By the Emperor Akbar.


                          </p>

        <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">12:45 Hrs
</button>  <strong> Lunch</strong></h4>
        <p> After Visit of Agra Fort, You will be taken to Restaurant for a lavish buffet lunch.</p>

         <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">14:30 Hrs
   </button>  <strong>  Fatehpur Sikri
</strong></h4>
         <p> After Lunch, Proceed To Fatehpur Sikri With Our Local Tour Guide Which is 40 Kms From Agra. Famously known as the city of Ghosts, it was built by the great Mughal Emperor</p>

          <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">17:30 Hrs
  </button> </h4>
          <p> In the Evening Free To Explore the Agra Rich Heritage of Handicrafts Or Free At Leisure
</p>

           <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">19:30 Hrs
   </button> </h4>
           <p> Transfer to Railway Station to Board Superfast Shatabdi Express Train To Delhi..</p>

            <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">23:00 Hrs
    </button>  <strong> </strong></h4>
            <p> Arrive Delhi & Our Chauffer Will Pick Up From New Delhi Railway Station. & Transfer to the Hotel. Here Tour Ends With Sweet Memories of Same Day Agra Trip By Train.</p>
             </div>
    		</div>
      	</div>
        </div>
        <div class="container" id="test-swipe-3">
        							<div class="row">
                         <div class="col l4">
                        <img  class="responsive-img" src="/img/agra3.jpg" alt="">
                      </div>
        							<div class="col l8">
        								<h2 class="center teal-text">Same Day Jaipur Tour</h2>
        								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">05.00 Hrs</button>
                        </h4><p>
                          At 5 am in the morning you will be picked up from your hotel to take you to the railway station to board the super fast and air conditioned shatabadi express

                        </p>
                        <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">06.05 Hrs</button>
                        </h4><p>
                      At 6:05 the shatabadi express departs from Delhi. After some time from departure you will be served your breakfast in the train. It will take us around 4 hours to reach Jaipur.

                        </p>
                        <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">10:45 Hrs</button>
                        </h4><p>
                        On arrival our representative will pick you and transfer you to a hotel where you can freshen up and get ready to visit jaipur you will be escorted by your guide who will help you in everything. We try our best to make journey hassle free.

                        </p>
                        <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">11:30 Hrs</button>
                        </h4><p>
                        The most famous place that comes first to visit is Amber Fort. You will get to Ride a painted elephant to hilltop fort. One of the main attractions of Fort Amer is its glittering Sheesh Mahal.
                        </p>
                        <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">13:30 Hrs</button>
                        </h4><p>
                        After visiting these architecture marvels, the lunch will be given as buffet in a hotel where you can take a break and relax a little.

                        </p>
                        <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">14:30 Hrs</button>
                        </h4><p>
                        Visit the popular City Palace Complex: S.M.S Museum, Jantar Mantar and Hawa Mahal Jal Mahal, Rambagh Palace etc.

                        </p>
                        <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">17.00 Hrs</button>
                        </h4><p>
                        You will be taken back to the railway station to board the train to Delhi.

                        </p>
                        <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">17.30 Hrs</button>
                        </h4><p>
                        The train departs and you will be left with the sweet memories of this place. Dinner is server in the train.

                        </p>
                        <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">22.40 Hrs</button>
                        </h4><p>
                      On your arrival in Delhi the driver will drop you at your hotel.

                        </p>


                      </div>

        							</div>
        						</div>
                  </div>



                  <div class="fixed-action-btn">
            <a class="btn-floating btn-large red pulse" href="/form_query">
              <i class="large material-icons">mode_edit</i>
            </a>

          </div>

<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});


$(document).ready(function(){
    $('.collapsible').collapsible();
  });

  $(document).ready(function(){
     $('.tab').tabs();
   });



</script>



<% include ../partials/footer %>
