<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>Andaman Island TOUR</h1>
  <p class="teal-text text-darken-4">
Andaman and Nicobar is group of beautiful islands located in Bay of Bengal and has became amazing holiday destination for tourists of all genres. Shubham Tours and Travels will offer you the best package at Andaman Nicobar Islands. An Organized travel/tour management which includes: receiving personally, hotels, food arrangements, sightseeing, local travel in AC Car etc.
</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>

<div class="container">
<div class="row">
    <div class="col l12">
      <ul class="tabs" id="tabs-swipe-demo">
        <li class="tab col l4"><a  class="active" href="#test-swipe-1">Andaman Island(3N/4D)</a></li>
        <li class="tab col l4"><a  href="#test-swipe-2">Andaman Island(4N/5D)</a></li>
          <li class="tab col l4"><a  href="#test-swipe-3">Andaman Island(6N/7D)</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container" id="test-swipe-1">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="images/top_1.jpg" alt="">


  <!-- <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
      <div class="collapsible-body"> -->






        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
            <div class="collapsible-body"><ul><li >*Accommodations will be in Twin sharing AC room.</li>
            <li >*Daily Buffet Breakfast for a couple.</li>
            <li >*All sightseeing programs are accordingly as mentioned.</li>
            <li >*Transportation using private AC Car with Chauffeur as per the itinerary, inclusive of fuel, Parking, Toll & Driver Allowance.</li>
            <li >*Welcome drink (non alcoholic).</li>
            <li >*To & Fro Journey to Havelock Island through Private Cruise or Govt. Ferry.</li>
            <li >*Entry Permits/Entry Tickets/Boat Tickets/Ferry Tickets wherever required.</li>
            <li >*24 hour on call assistance during your stay.</li>
            <li >*Assistance at all arrival and departure points.</li>
            <li >*All taxes inclusive.</li>
          </li>

          </ul>
        </div>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
            <div class="collapsible-body">






              <ul>
              <li>*Airfare / Ship fare,</li>
              <li>*Fun/Joy rides at Water Sports Complex</li>
              <li>*  Camera Tickets are NOT INCLUDED in the Packages & has to be borne by the guests directly at the various places of sightseeing & tour.</li>
              <li>*Sea Walk Cost – Rs. 3,700/- Per Person.</li>
              <li>*Scuba Diving Cost – Rs. 3,500/- Per Person.</li>
            </ul></div>
          </li>

        </ul>
        <!-- <ul><li >*Hotel / Houseboats on Twin sharing Basis.</li>
      <li >*All surface travelling by 01 Non AC Indica / Tavera /Qualis.</li>
      <li >*All surface travelling by 01 Non AC Tempo Traveller.</li>
      <li >*01 Shikara Ride.</li>
      <li >*Sightseeing as per the itinerary.</li>
      <li >*All Arrival/Departure transfer as mentioned in Itinerary.</li>
      <li >*All present applicable taxes as on date.</li>
      <li >*Hotel / Houseboats on Twin sharing Basis.</li>
      <li >*All surface travelling by 01 Non AC Indica / Tavera /Qualis.</li>
      <li >*All surface travelling by 01 Non AC Tempo Traveller.</li>
      <li >*01 Shikara Ride.</li>
      <li >*Sightseeing as per the itinerary.</li>
      <li >*All Arrival/Departure transfer as mentioned in Itinerary.</li>
      <li >*All present applicable taxes as on date.</li></ul></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
      <div class="collapsible-body"><ul>
        <li>*Any Airfare, Train fare, Overland Journey which is not mentioned in the Itinerary.</li>
        <li>*Any Medical/rescue evacuation due to mishaps.</li>
        <li>*Any personal nature items like Laundry, bar bills, table bills, camera fee, tips or any other item</li>
        <li>*Mineral water / Soft or hard drinks / Starters</li>
        <li>*Sightseeing of Chandanwadi, Aru and Baisaran in Pahalgam.</li>
        <li>*Gondola Ride in Gulmarg</li>
        <li>*Any other things that is not included in the “Package Cost Includes” Column.</li>
      </ul></div>
    </li>

  </ul> -->





              </div>
							<div class="col l8">
								<h2 class="center teal-text">Andaman Tour (03 NIGHTS / 04 DAYS )</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Arrive Port Blair</strong></h4><p>
                Arrival at Port Blair in the morning by flight/ship & transfer to hotel. After lunch, visit the Corbyn's Cove Beach - 9 kms from Port Blair - a coconut palm fringed beach, ideal for swimming, sun-basking & bathing. After that visit famous Cellular Jail - National Memorial, Anthropological Museum, Fisheries (Marine) Museum, Naval Marine Museum (Samudrika), and the Cottage Industries Emporium (Sagarika) - for shopping & souvenirs. In the evening, attend the enthralling Sound and Light Show at Cellular Jail - where the heroic saga of the Indian freedom struggle is brought alive.
                </p>


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong>Port Blair - Ross Island + Chidiya Tapu</strong></h4>
                <p>

                  Start after breakfast for a full-day Excursion to Ross Island - from where the Britishers' governed the entire A&N islands, prior to India's Independence. This island is an ideal destination for nature walk amidst sylvan surroundings with deers, peacocks, exotic birds, etc. In the evening proceed to Chidiya Tapu - about 31 kms from Port Blair covered with lush green mangroves and beautiful beach with breath-taking sunset - all of which creates a mesmerizing environment.



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>Port Blair - Havelock Island - Port Blair</strong></h4>
                <p>

                Early morning departure by A/C Luxury Private Ferry to Havelock Island (57 kms by sea from Port Blair). Visit to Radha Nagar Beach (Voted as the Best Beach in Asia by the 'Time Magazine' in year 2004) + Return from Havelock to Port Blair in the evening by Govt Ferry & transfer to hotel.

                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>Depart Port Blair</strong></h4>
                <p>

                  Transfer to Airport for return flight with a remembrance of TRIP STRING.



                </p>


              </div>

							</div>
						</div>
          </div>





          <div class="container" id="test-swipe-2">
          							<div class="row">
                           <div class="col l4">
                          <img  class="responsive-img" src="images/top_1.jpg" alt="">

                                  <ul class="collapsible">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
                                      <div class="collapsible-body"><ul><li >*Accommodations will be in Twin sharing AC room.</li>
                                      <li >*Daily Buffet Breakfast for a couple.</li>
                                      <li >*All sightseeing programs are accordingly as mentioned.</li>
                                      <li >*Transportation using private AC Car with Chauffeur as per the itinerary, inclusive of fuel, Parking, Toll & Driver Allowance.</li>
                                      <li >*Welcome drink (non alcoholic).</li>
                                      <li >*To & Fro Journey to Havelock Island through Private Cruise or Govt. Ferry.</li>
                                      <li >*Entry Permits/Entry Tickets/Boat Tickets/Ferry Tickets wherever required.</li>
                                      <li >*24 hour on call assistance during your stay.</li>
                                      <li >*Assistance at all arrival and departure points.</li>
                                      <li >*All taxes inclusive.</li>
                                    </li>

                                    </ul>
                                  </div>
                                  <li>
                                      <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
                                      <div class="collapsible-body">






                                        <ul>
                                        <li>*Airfare / Ship fare,</li>
                                        <li>*Fun/Joy rides at Water Sports Complex</li>
                                        <li>*  Camera Tickets are NOT INCLUDED in the Packages & has to be borne by the guests directly at the various places of sightseeing & tour.</li>
                                        <li>*Sea Walk Cost – Rs. 3,700/- Per Person.</li>
                                        <li>*Scuba Diving Cost – Rs. 3,500/- Per Person.</li>
                                      </ul></div>
                                    </li>

                                  </ul>
                        </div>
          							<div class="col l8">
          								<h2 class="center teal-text">Andaman Tour (06 NIGHTS /07 DAYS)</h2>
          								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light orange">DAY 1</button>
                          <strong>Port Blair</strong></h4><p>
                        Arrival at Port Blair in the morning by flight/ship & transfer to hotel. After breakfast, visit the Corbyn’s Cove Beach - 9 kms from Port Blair - a coconut palm fringed beach, ideal for swimming, sun-basking & bathing. After that visit famous Cellular Jail – National Memorial, Anthropological Museum, Fisheries (Marine) Museum, Naval Marine Museum (Samudrika), and the Cottage Industries Emporium (Sagarika) - for shopping & souvenirs. In the evening, attend the enthralling Sound and Light Show at Cellular Jail - where the heroic saga of the Indian freedom struggle is brought alive.
                          </p>


                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light deep-purple">DAY 2</button>  <strong>Port Blair – Havelock Island</strong></h4>
                          <p>

                          Early morning departure by Private Ferry to Havelock Island (57 kms by sea from Port Blair). Visit to Radha Nagar Beach (Voted as the Best Beach in Asia by the ‘Time Magazine’ in year 2004) + Stay here overnight amongst - sandy beach and lush green forest in a comfortable beach resort.


                          </p>
                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light cyan">DAY 3</button>  <strong>Havelock Island</strong></h4>
                          <p>
                            Day free for leisure + Stay here overnight amongst - sandy beach and lush green forest in a comfortable beach resort.


                          </p>

        <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 4</button>  <strong>Havelock Island – Port Blair</strong></h4>
        <p> After breakfast visit Elephanta Beach + proceed towards Port Blair by Govt Ferry Stay here overnight amongst - sandy beach and lush green forest in a comfortable beach resort.
</p>
<h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 5</button>  <strong>Port Blair - Ross Island – Chidiya Tapu</strong></h4>
<p> Start after breakfast visit Ross Island - from where the Britishers' governed the entire A&N islands, prior to India’s Independence. Then proceed to Chidiya Tapu for breath taking Sunset. The gallows atop a hillock here is sight to watch.

</p>
<h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 6</button>  <strong>Port Blair - Baratang Island
</strong></h4>
<p>Early morning departure to Baratang Island to visit Lime Stone Caves. Return back to Port Blair on the same day and stay overnight at hotel.

</p>
<h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 7</button>  <strong>Depart Port Blair
</strong></h4>
<p>Transfer to Airport for return flight with a remembrance of TRIP STRING
</p>
         </div>

    		</div>
      	</div>
        </div>
        <div class="container" id="test-swipe-3">
        							<div class="row">
                         <div class="col l4">
                        <img  class="responsive-img" src="images/top_1.jpg" alt="">

                                <ul class="collapsible">
                                  <li>
                                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
                                    <div class="collapsible-body"><ul><li >*Accommodations will be in Twin sharing AC room.</li>
                                    <li >*Daily Buffet Breakfast for a couple.</li>
                                    <li >*All sightseeing programs are accordingly as mentioned.</li>
                                    <li >*Transportation using private AC Car with Chauffeur as per the itinerary, inclusive of fuel, Parking, Toll & Driver Allowance.</li>
                                    <li >*Welcome drink (non alcoholic).</li>
                                    <li >*To & Fro Journey to Havelock Island through Private Cruise or Govt. Ferry.</li>
                                    <li >*Entry Permits/Entry Tickets/Boat Tickets/Ferry Tickets wherever required.</li>
                                    <li >*24 hour on call assistance during your stay.</li>
                                    <li >*Assistance at all arrival and departure points.</li>
                                    <li >*All taxes inclusive.</li>
                                  </li>

                                  </ul>
                                </div>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
                                    <div class="collapsible-body">






                                      <ul>
                                      <li>*Airfare / Ship fare,</li>
                                      <li>*Fun/Joy rides at Water Sports Complex</li>
                                      <li>*  Camera Tickets are NOT INCLUDED in the Packages & has to be borne by the guests directly at the various places of sightseeing & tour.</li>
                                      <li>*Sea Walk Cost – Rs. 3,700/- Per Person.</li>
                                      <li>*Scuba Diving Cost – Rs. 3,500/- Per Person.</li>
                                    </ul></div>
                                  </li>

                                </ul>


                      </div>
        							<div class="col l8">
        								<h2 class="center teal-text">Honeymoon TOUR (5 NIGHTS / 6 DAYS )</h2>
        								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                        <strong> Port Blair </strong></h4><p>
                          Upon arrival you will be met by our representative and drive to Katra. The distance is about 50 kms, will be covered in about 2 hours, upon arrival in Katra you will be transferred to the hotel. Katra is the starting point for the Vaishno Devi pilgrimage. Overnight in hotelArrival at Port Blair in the morning by flight/ship & transfer to hotel. After breakfast, visit the Corbyn’s Cove Beach - 9 kms from Port Blair - a coconut palm fringed beach, ideal for swimming, sun-basking & bathing. After that visit famous Cellular Jail – National Memorial, Anthropological Museum, Fisheries (Marine) Museum, Naval Marine Museum (Samudrika), and the Cottage Industries Emporium (Sagarika) - for shopping & souvenirs. In the evening, attend the enthralling Sound and Light Show at Cellular Jail - where the heroic saga of the Indian freedom struggle is brought alive.


                        </p>


                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong>Port Blair – Havelock Island</strong></h4>
                        <p>

                          Early morning departure by Private Ferry to Havelock Island (57 kms by sea from Port Blair). Visit to Radha Nagar Beach (Voted as the Best Beach in Asia by the ‘Time Magazine’ in year 2004) + Stay here overnight amongst - sandy beach and lush green forest in a comfortable beach resort.




                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>Havelock Island</strong></h4>
                        <p>

                          Day free for leisure + Stay here overnight amongst - sandy beach and lush green forest in a comfortable beach resort.



                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong> Havelock Island – Port Blair
</strong></h4>
                        <p>

                          After breakfast visit Elephanta Beach + proceed towards Port Blair by Govt Ferry Stay here overnight amongst - sandy beach and lush green forest in a comfortable beach resort.




                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 5</button>  <strong>Coral Island - Ross Island</strong></h4>
                        <p>

                        Start after breakfast for a full-day Excursion to North Bay (Coral Island) - to see coral reefs, exotic varieties of beautiful ornamental fishes and other marine life. Optional Activities - Snorkelling, glass bottom boat ride, Swimming, Trekking & visit Ross Island - from where the Britishers' governed the entire A&N islands, prior to India’s Independence.

                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 6</button>  <strong> Depart Port Blair </strong></h4>
                        <p>

                          Transfer to Airport for return flight with a remembrance of exotic Andaman.


                        </p>

                      </div>

        							</div>
        						</div>
                  </div>



        <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});


$(document).ready(function(){
    $('.collapsible').collapsible();
  });

  $(document).ready(function(){
     $('.tabs').tabs();
   });
</script>



<% include ../partials/footer %>
