<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>DARJEELING TOUR</h1>
  <p class="teal-text text-darken-4">Darjeeling is a town and a municipality in the Indian state of West Bengal. It is located in the Lesser Himalayas at an elevation of 6,700 ft (2,042.2 m). It is noted for its tea industry, its views of Kangchenjunga, the world's third-highest mountain, and the Darjeeling Himalayan Railway, a UNESCO World Heritage Site. Darjeeling is the headquarters of the Darjeeling District which has a partially autonomous status within the state of West Bengal. It is also a popular tourist destination in India. Nepali is the native language of Darjeeling.

</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>
          <div class="container">
          							<div class="row">
                           <div class="col l4">
                          <img  class="responsive-img" src="/img/darjelling.jpg" alt="">
                        </div>
          							<div class="col l8">
          								<h2 class="center teal-text">Darjeeling TOUR</h2>
          								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light orange">DAY 1</button>
                          <strong>NJP Rly Station / IXB Airport – Darjeeling (75 kms / 3 hrs)</strong></h4><p>
                            On arrival at NJP Railway Station / IXB Airport &amp; transfer to Darjeeling (6,950 ft.).On arrival Check-in to hotel &amp; rest of the day at
                            leisure.Overnight stay at Darjeeling.

                          </p>


                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light deep-purple">DAY 2</button>  <strong>Darjeeling Sightseeing</strong></h4>
                          <p>

                            Early Morning (at 04:00 am) drive to Tiger hill (8,400 ft.) to watch the spectacular sunrise over Mt. Khangchendzongha (28,208ft. Worlds’ 3rd highest peak), on your way back visit Ghoom Monastery and Batasia Loop. After breakfast visit HimalayanMountaineering Institute, P.N. Zoological Park (Thursday closed), Tenzing Rock, Tibetan Refugee self-help Centre (Sundayclosed), Tea Garden (outer view), Ropeway and Japanese Temple. Evening free for shopping or leisure. Overnight stay atDarjeeling.

                          </p>
                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light cyan">DAY 3</button>  <strong>Mirik Excursion (49 kms / 2 hrs one way)</strong></h4>
                          <p>
                            After breakfast full day excursion trip to Mirik Lake (4,902 ft.) via Indo-Nepal Border (Extra vehicle charges will be applicable forNepal Border to Pasupati Market). Mirik is famous for its man-made Sumendu Lake, Cardamom plantations and Tea Estates.(One can do Boating on direct payment basis in lake). In evening return to the hotel. Overnight stay at Darjeeling.
                          </p>

        <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 4</button>  <strong>Darjeeling – NJP Rly Station / IXB Airport</strong></h4>
        <p>  After breakfast Check-out from hotel and take the departure transfers to NJP Railway Station / IXB Airport for your onwardjourney.</p>
         </div>

    		</div>
      	</div>
        </div>



        <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div></p>

<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});

</script>



<% include ../partials/footer %>
