<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>Dharmashala Tour Package</h1>
  <p class="teal-text text-darken-4">
       <h3>4 days & 3 nights</h3>
Explore Dharamshala, Kangra for 4 days with this package, Avail stay in deluxe rooms, tea, breakfast, one major meal & more....
Destinations, Hotels included in this package
Destination:
Dharamshala

Destination:
Kangra
 <div class="row">
   <div class="col l6">

<h4>Inclusions :</h4>
<ul>
  <li>3night Stay at above hotels in Deluxe rooms in Hotel Buddha Valley.</li>
  <li>3nos Breakfast & 3nos Dinners</li>
  <li>Delhi – Dharamshala – Delhi Volvo fare.</li>
  <li>Indigo vehicle for local sightseeing (Point to Point)</li>
  <li>Parking & Tollgate Charges</li>
</ul>
 </div>
 <div class="col l6">
<h4>Exclusions :</h4>
<ul>
  <li>Lunch will charged extra</li>
  <li>Adventure sports(River rafting, Paragliding, Skiing etc)</li>
  <li>Entry tickets to monuments</li>
  <li>Ice Suit & Boot</li>

</ul>
</div>
</p>
</div>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>
          <div class="container">
          							<div class="row">
                           <div class="col l4">
                          <img  class="responsive-img" src="/img/dharam1.jpg" alt="">
                          <h4>
                            Package Cost
Rs. 8500 Per Person
                          </h4>
                        </div>
          							<div class="col l8">
          								<h2 class="center teal-text">Dharmashala Tour Package</h2>
          								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light orange">DAY 1</button>
                          <strong>Arrive at Dharmashala</strong></h4><p>
                            Morning arrive at Dharmashala Bus Stand, Our vehicle will receive you and proceed to Hotel, Check in at Hotel (Check in time 12noon-Early check in subject to availability of rooms). Whole day will be at leisure, Afternoon leave for Nature Walk, Overnight stay at Hotel.


                          </p>


                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light deep-purple">DAY 2</button>  <strong>Dharmashala SightSeeing</strong></h4>
                          <p>

                            Morning after breakfast leave for Dharmashala local sightseeing. Tsuglagkhang Temple, Gyuto Monastery,St. John’s Church, Bhagsu Temple, Bhagsu Falls, Mcleodganj, Chinmaya Tapovan Ashram. Evening will be at leisure, Overnight stay at the hotel.


                          </p>
                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light cyan">DAY 3</button>  <strong>Kanga SightSeeing</strong></h4>
                          <p>
                            After breakfast you will proceed for sightseeing tour to Kangra Devi Temple as it is one of the major Shaktipeeths out of 51 shaktipeeths in India. Evening back to Hotel and evening will be at leisure. Overnight stay at Dharamshala.

                          </p>

        <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 4</button>  <strong>SHOPPING & DEPARTURE</strong></h4>
        <p>  After breakfast, check out from hotel and leave for shopping at local market, later our vehicle will drop at Volvo bus stand for your onward Journey to Delhi.</p>
         </div>

    		</div>
      	</div>
        </div>



        <div class="fixed-action-btn">
  <a class="btn-floating btn-large red pulse"
  href="/form_query">
    <i class="large material-icons">mode_edit</i>
  </a>

</div>
<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});

</script>



<% include ../partials/footer %>
