<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>GOA TOUR</h1>
  <p class="teal-text text-darken-4">
Goa is visited by large numbers of international and domestic tourists each year for its white sand beaches, nightlife, places of worship and world heritage architecture. It has rich flora and fauna, owing to its location on the Western Ghats range, a biodiversity hotspot.
</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>

<div class="container">
<div class="row">
    <div class="col l12">
      <ul class="tabs" id="tabs-swipe-demo">
        <li class="tab col l4"><a  class="active purple-text" href="#test-swipe-1">GOA FAMILY SPECIAL</a></li>
        <li class="tab col l4"><a  class="active teal-text"  href="#test-swipe-2">GOA HONEYMOON TOUR</a></li>
          <li class="tab col l4"><a  class="active purple-text"  href="#test-swipe-3">GOA STUDENT OR YOUTH TOUR</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container" id="test-swipe-1">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="/img/goa1.jpg" alt="">
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
            <div class="collapsible-body"><ul><li >*Accommodations will be in Twin sharing AC room.</li>
            <li >*Daily Buffet Breakfast for a couple.</li>
            <li >*All sightseeing programs are accordingly as mentioned.</li>
            <li >*Transportation using private AC Car with Chauffeur as per the itinerary, inclusive of fuel, Parking, Toll & Driver Allowance.</li>
            <li >*Welcome drink (non alcoholic).</li>
            <li >*To & Fro Journey to Havelock Island through Private Cruise or Govt. Ferry.</li>
            <li >*Entry Permits/Entry Tickets/Boat Tickets/Ferry Tickets wherever required.</li>
            <li >*24 hour on call assistance during your stay.</li>
            <li >*Assistance at all arrival and departure points.</li>
            <li >*All taxes inclusive.</li>
          </li>

          </ul>
        </div>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
            <div class="collapsible-body">
              <ul>
              <li>*Airfare / Ship fare,</li>
              <li>*Fun/Joy rides at Water Sports Complex</li>
              <li>*  Camera Tickets are NOT INCLUDED in the Packages & has to be borne by the guests directly at the various places of sightseeing & tour.</li>
              <li>*Sea Walk Cost – Rs. 3,700/- Per Person.</li>
              <li>*Scuba Diving Cost – Rs. 3,500/- Per Person.</li>
            </ul></div>
          </li>

        </ul>
              </div>
							<div class="col l8">
								<h2 class="center teal-text">GOA FAMILY SPECIAL (03 NIGHTS / 04 DAYS )</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Goa</strong></h4><p>
              On reaching Goa airport, meet our driver representative who assists while you take a transfer to the resort. On completing the check-in formalities, take some rest for the day. In the evening, you can go to enjoy a stroll around the beach or indulge in your favorite beach activity. Stay overnight at the hotel.
                </p>


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong>North Goa :</strong></h4>
                <p>

                  This morning, you have your breakfast and then start driving towards North Goa. North Goa is dotted with some of the most beautiful beaches of Goa. Dona Paula, Calangute, Baga and Miramar Beach are popular beaches of North Goa. North Goa is home to a number of tourist attractions like Fort Aguada, Basilica of Bom Jesus and Se Cathedral.
  Spend the day sightseeing around North Goa. You can begin with a visit to "Cidade de Goa", the original name given to the ‘city of Goa’ which was established long back and now it is called "Old Goa". Pay homage at the Basilica Bom Jesus, which is dedicated to Infant Jesus. The church has the sacred remains of St Francis Xavier. Also, visit other churches of North Goa including St Cajetan, St Francis of Assisi, Se Cathedral and Church of St. Monica. All the churches feature a unique architectural style which speaks much about the heritage and craftsmanship of those times.
  Visit the Museum of Christian Art, which is one of its kind museum in Asia. The museum is best known to house a collection of items like gold and precious stones and Rosary's. You can also visit Archeological Museum.
  Later, travel to “Solar Souto Maior”, which is an aristocratic mansion which dates back to the year 1585. The mansion houses a treasure of artifacts.
  Return to Panjim, the capital of Goa and as you drive through the city enjoy viewing its unique colonial architecture. Walk through the city and flip back the pages of the Portuguese days. Do visit the bustling markets of Goa and shop for gifts and souvenirs. Enjoy your lunch at Panjim.
  Post lunch, head to Baga Beach, which is one the most popular, happening and beautiful beaches of Goa. Enjoy water sports and then you can go for some shopping at the Tibetan market.
  Stay overnight at the hotel.




                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>South Goa</strong></h4>
                <p>

                  After having your breakfast, head towards South Goa. Today, you will be sightseeing at major attractions of South Goa including Colva Beach, Mangeshi Temple, Santa Durga Temple and some more attractions. Begin with a visit to Margao, the capital of Salcette taluka and headquarters of the South Goa district.
    Visit the historical “Largo de Igreja”, the Church square of Margao, which once used to be its colonial quarter. The church square is dotted with beautiful old buildings on one side and the beautiful Church of the Holy Spirit on the other. The Church of the Holy Spirit is one of the most grant churches of Goa, which was built back in the year 1564. The church is one of the finest examples of Indian Baroque style of architecture.
    Later proceed to “Ancestral Goa”, which is a re-creation of Goan rural life. The village has number of artifact centers, art galleries and open air museums. There is a laterite sculpture of Saint Mirabai in the village, which is one of the longest laterite sculptures in India. The star attraction of the region is the “big foot”, which is a large foot print which was discovered on a rock while excavating the site.
    Now it’s time to visit the grand house- Menezes Braganza house, in Chandor. This palatial structure was built back in the 17th century. The house has now been divided into two separate houses, with a common entrance. The east wing is occupied by the Pereira-Braganza family, which has a small chapel with relics of St. Francis Xavier. It also has artifacts, collected by the family over a number of years. The house also has a large ballroom and a Salon. Tiles from Portugal, antique chandeliers from Europe and beautifully carved, ornate rosewood furniture adds to the beauty of the house. A few things which give a distinct look to the house include a pair of high-backed chairs, which has the family crest, which was given to the Pereira-Braganza family by King Dom Luis of Portugal. Most of the furniture items set in the house date back to the 18th century and have been prepared using local seeso (martel wood) and lacquered with mother of pearl by craftsmen from Curtorim village. The house also has many items coming from antique aficionados.
    The west wing of the house belongs to the Menezes Braganza family. The house not only features exquisite furniture and Chinese porcelain from Macau, but also a collection of family portraits, which date back to the 17th and 18th centuries. There is also a library which is believed to be the first private library of Goa. The library has a collection of 5,000 leather bound books which were personally collected by Luis de Menezes Braganza (1878-1938), a reputed journalist, well-known for playing a key role in Goa’s independence movement.
    After the long sightseeing tour of South Goa, head back to the hotel. Stay overnight at the hotel.


                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>Goa</strong></h4>
                <p>
                  This is the last day of the Goa tour. Munch some delicious breakfast and then check out of the hotel. Start driving towards the airport and on reaching, board your flight to home. The tour ends here.
                </p>


              </div>

							</div>
						</div>
          </div>





          <div class="container" id="test-swipe-2">
          							<div class="row">
                           <div class="col l4">
                          <img  class="responsive-img" src="/img/goa2.jpg" alt="">

                                  <ul class="collapsible">
                                    <li>
                                      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
                                      <div class="collapsible-body"><ul><li >*Accommodations will be in Twin sharing AC room.</li>
                                      <li >*Daily Buffet Breakfast for a couple.</li>
                                      <li >*All sightseeing programs are accordingly as mentioned.</li>
                                      <li >*Transportation using private AC Car with Chauffeur as per the itinerary, inclusive of fuel, Parking, Toll & Driver Allowance.</li>
                                      <li >*Welcome drink (non alcoholic).</li>
                                      <li >*To & Fro Journey to Havelock Island through Private Cruise or Govt. Ferry.</li>
                                      <li >*Entry Permits/Entry Tickets/Boat Tickets/Ferry Tickets wherever required.</li>
                                      <li >*24 hour on call assistance during your stay.</li>
                                      <li >*Assistance at all arrival and departure points.</li>
                                      <li >*All taxes inclusive.</li>
                                    </li>

                                    </ul>
                                  </div>
                                  <li>
                                      <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
                                      <div class="collapsible-body">






                                        <ul>
                                        <li>*Airfare / Ship fare,</li>
                                        <li>*Fun/Joy rides at Water Sports Complex</li>
                                        <li>*  Camera Tickets are NOT INCLUDED in the Packages & has to be borne by the guests directly at the various places of sightseeing & tour.</li>
                                        <li>*Sea Walk Cost – Rs. 3,700/- Per Person.</li>
                                        <li>*Scuba Diving Cost – Rs. 3,500/- Per Person.</li>
                                      </ul></div>
                                    </li>

                                  </ul>
                        </div>
          							<div class="col l8">
          								<h2 class="center teal-text">Goa Honeymoon Tour (05 NIGHTS /06 DAYS)</h2>
          								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light orange">DAY 1</button>
                          <strong>Goa</strong></h4><p>
                            On reaching Goa airport, meet our driver representative who assists while you take a transfer to the resort. On completing the check-in formalities, take some rest for the day. In the evening, you can go to enjoy a stroll around the beach or indulge in your favorite beach activity. Stay overnight at the hotel.

                          </p>


                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light deep-purple">DAY 2</button>  <strong> North Goa </strong></h4>
                          <p>

                            We start a spiritual journey with a visit to the Basilica of Bom Jesus. This UNESCO world heritage site consists the remains of St. Francis Xavier, kept in a silver casket. We visit the Church and Convent of St Francis of Assisi; beautifully decorated with scenes from Bible and consists of a statue of St. Francis. We also visit the Se-Cathedral, St. Catherine's Church and the Arch of Viceroy of Goa.
      We come to the Miramar Beach; it lies near the confluence of the Mondovi River and the Arabian Sea. The soft, golden sand of this beach is ideal for a stroll
       ( Taxy service included)
      Over night stay in hotel with dinner



                          </p>
                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light cyan">DAY 3</button>  <strong> North Goa </strong></h4>
                          <p>
                            Today you can enjoy beaches of Goa in your own way. The Baga Beach is apt for swimming due to its clean, white sands. You can enjoy water sports like para sailing and fishing. The night life of Goa occurs around the exhilarating water holes of this beach.
Visit the Colva Beach, known as the Queen of all beaches. With 40 Km of endless white sand with numerous palm trees, this beach is perfect for a soothing sun bath. Enjoy boating on speedboats and paddlers at Dona Paula or spend some quiet moments at the enchanting Palolem Beach.

And enjoy self driven bike services....
Enjoy evening in sharks of goa entry from our side
Over night stay and dinner at hotel



                          </p>

        <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 4</button>  <strong>Goa</strong></h4>
        <p> Before Breakfast
Start a day with beautiful sunrise of calangute beach
After sun rise get back to hotel for breakfast
And enjoy self driven bike services....
And in evening enjoy music and goa folkdance in boat cruise of goa
Dinner at hotel.

</p>
<h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 5</button>  <strong>South Goa</strong></h4>
<p> After having your breakfast, head towards South Goa. Today, you will be sightseeing at major attractions of South Goa including Colva Beach, Mangeshi Temple, Santa Durga Temple and some more attractions. Begin with a visit to Margao, the capital of Salcette taluka and headquarters of the South Goa district.
Visit the historical “Largo de Igreja”, the Church square of Margao, which once used to be its colonial quarter. The church square is dotted with beautiful old buildings on one side and the beautiful Church of the Holy Spirit on the other. The Church of the Holy Spirit is one of the most grant churches of Goa, which was built back in the year 1564. The church is one of the finest examples of Indian Baroque style of architecture.
Later proceed to “Ancestral Goa”, which is a re-creation of Goan rural life. The village has number of artifact centers, art galleries and open air museums. There is a laterite sculpture of Saint Mirabai in the village, which is one of the longest laterite sculptures in India. The star attraction of the region is the “big foot”, which is a large foot print which was discovered on a rock while excavating the site.
Now it’s time to visit the grand house- Menezes Braganza house, in Chandor. This palatial structure was built back in the 17th century. The house has now been divided into two separate houses, with a common entrance. The east wing is occupied by the Pereira-Braganza family, which has a small chapel with relics of St. Francis Xavier. It also has artifacts, collected by the family over a number of years. The house also has a large ballroom and a Salon. Tiles from Portugal, antique chandeliers from Europe and beautifully carved, ornate rosewood furniture adds to the beauty of the house. A few things which give a distinct look to the house include a pair of high-backed chairs, which has the family crest, which was given to the Pereira-Braganza family by King Dom Luis of Portugal. Most of the furniture items set in the house date back to the 18th century and have been prepared using local seeso (martel wood) and lacquered with mother of pearl by craftsmen from Curtorim village. The house also has many items coming from antique aficionados.
The west wing of the house belongs to the Menezes Braganza family. The house not only features exquisite furniture and Chinese porcelain from Macau, but also a collection of family portraits, which date back to the 17th and 18th centuries. There is also a library which is believed to be the first private library of Goa. The library has a collection of 5,000 leather bound books which were personally collected by Luis de Menezes Braganza (1878-1938), a reputed journalist, well-known for playing a key role in Goa’s independence movement.
After the long sightseeing tour of South Goa, head back to the hotel. Stay overnight at the hotel.

And most awaited evening would be best memory of last night in goa in club cabana enjoy whole evening and night in the dance Flore


</p>
<h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 6</button>  <strong>Departure
</strong></h4>
<p>After morning breakfast get checkout from hotel and get ready to view beautiful waterfall dudhsagar waterfall
Enjoy your last day in waterfall
And in evening with all the memories of goa in your camera...
Move to your origin point of your trip
 drop to the airport...


</p>
         </div>

    		</div>
      	</div>
        </div>
        <div class="container" id="test-swipe-3">
        							<div class="row">
                         <div class="col l4">
                        <img  class="responsive-img" src="/img/goa3.jpg" alt="">

                                <ul class="collapsible">
                                  <li>
                                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
                                    <div class="collapsible-body"><ul><li >*Accommodations will be in Twin sharing AC room.</li>
                                    <li >*Daily Buffet Breakfast for a couple.</li>
                                    <li >*All sightseeing programs are accordingly as mentioned.</li>
                                    <li >*Transportation using private AC Car with Chauffeur as per the itinerary, inclusive of fuel, Parking, Toll & Driver Allowance.</li>
                                    <li >*Welcome drink (non alcoholic).</li>
                                    <li >*To & Fro Journey to Havelock Island through Private Cruise or Govt. Ferry.</li>
                                    <li >*Entry Permits/Entry Tickets/Boat Tickets/Ferry Tickets wherever required.</li>
                                    <li >*24 hour on call assistance during your stay.</li>
                                    <li >*Assistance at all arrival and departure points.</li>
                                    <li >*All taxes inclusive.</li>
                                  </li>

                                  </ul>
                                </div>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
                                    <div class="collapsible-body">






                                      <ul>
                                      <li>*Airfare / Ship fare,</li>
                                      <li>*Fun/Joy rides at Water Sports Complex</li>
                                      <li>*  Camera Tickets are NOT INCLUDED in the Packages & has to be borne by the guests directly at the various places of sightseeing & tour.</li>
                                      <li>*Sea Walk Cost – Rs. 3,700/- Per Person.</li>
                                      <li>*Scuba Diving Cost – Rs. 3,500/- Per Person.</li>
                                    </ul></div>
                                  </li>

                                </ul>


                      </div>
        							<div class="col l8">
        								<h2 class="center teal-text">Student Or Youth Tour (3 NIGHTS / 4 DAYS )</h2>

                      <p>

  Ready for the Crazziest tour of your life ? #GoaTrip

  Trip to #GOA
  "TRIP STRING pvt Ltd" brings to you
  <ul>
    <li>  ★ GOA TRIP ★</li>
    <li>  ★ GOA EXOTICA★</li>
    <li>  ★ 6DAYS TRIP (DELHI-GOA-DELHI)★</li>
  </ul>





                        </p>




                      </div>

        							</div>
        						</div>
                  </div>


                  <div class="fixed-action-btn">
            <a class="btn-floating btn-large red pulse"
            href="/form_query">
              <i class="large material-icons">mode_edit</i>
            </a>

          </div>
<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});


$(document).ready(function(){
    $('.collapsible').collapsible();
  });

  $(document).ready(function(){
     $('.tabs').tabs();
   });
</script>



<% include ../partials/footer %>
