<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>KERALA  TOUR</h1>
  <p class="teal-text text-darken-4">
    Kerala Tour Package is the perfect Package for family tours and group excursions. Especially so when you want to enjoy your holidays the most without burning a hole in your pocket! .We offer a range of destinations and themes you can explore in Kerala such as the beaches, backwaters, hill stations, religious places, adventurous locations, and many more that are available at affordable rates.

</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>

<div class="container">
<div class="row">
    <div class="col l12">
      <ul class="tabs" id="tabs-swipe-demo">
        <li class="tab col l4"><a  class="active" href="#test-swipe-1">Kerala tour(5N/6D)</a></li>
        <li class="tab col l4"><a  href="#test-swipe-2">Kerala tour(10days)</a></li>

      </ul>
    </div>
  </div>
</div>
<div class="container" id="test-swipe-1">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="images/top_1.jpg" alt="">
              </div>
							<div class="col l8">
								<h2 class="center teal-text">Kerala TOUR (05 NIGHTS / 06 DAYS )</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Cochin</strong></h4><p>
                  You are greeted on arrival at Kochi International Airport/Railway station by The Travel Planners representative and thereafter transfer to Hotel. Afternoon you can go for the sightseeing of Cochin. Here you can see the St Francis Church, the oldest Church in India, 500 year old Portuguese Houses, Chinese fishing nets, 16th century Synagogue, Jew Town and Mattancherry Palace, built by Portuguese, this Palace contains some of India’s most beautiful murals. Evening go for shopping. Overnight at Hotel.
                </p>


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong>Cochin - Munnar</strong></h4>
                <p>

                  Morning drive to Munnar covering a distance of 130 kms / 4 hrs enroute visit Cheyyappara Waterfalls. On the way to Munnar you can see tea gardens spread like a green carpet over hundreds of kilometers, lush green hills, a place so difficult to describe, very lowpopulation too far from pollution, most of the area covered by Tata tea. On arrival check into the hotel. Overnight at Hotel.



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>In Munnar</strong></h4>
                <p>

                  Morning sightseeing in Munnar which includes Mattupetty, Eco-Point, Tea Museum, Pothamedu etc. You can also enjoy boating in the Lake (optional). Overnight stay at Hotel.


                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>Munnar - Thekkady</strong></h4>
                <p>

                  Morning drive to Thekkady covering a distance of 110 kms / 3.5 hrs through cardamom hills. Check into the Resort. After lunch visit spice plantation like cardamom, Pepper, Coffee, and tea estate etc… On way back to hotel you could stop at the local market and pick up some fragrant spices. Overnight at Hotel.



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 5</button>  <strong>Houseboat</strong></h4>
                <p>

                  Today morning after breakfast Proceed to Alleppey, Known as the Venice of the East. On arrival check into a Traditional Houseboat of Kerala Style. Cruise through the back waters is the fabulous way to explore the fascinating beauty of backwaters. Stay overnight in the Houseboat.

                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 6</button>  <strong>Departure</strong></h4>
                <p>

                  Morning after breakfast transfer to Cochin Airport or Railway Station for the onward Journey

                </p>
              </div>

							</div>
						</div>
          </div>






        <div class="container" id="test-swipe-2">
        							<div class="row">
                         <div class="col l4">
                        <img  class="responsive-img" src="images/top_1.jpg" alt="">
                      </div>
        							<div class="col l8">
        								<h2 class="center teal-text">Kerala Tour(10 Days)</h2>
        								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                        <strong>Arrival at Cochin</strong></h4><p>
                          You will get a warm welcome in Traditional Indian style by Travelogy India’s executive at Cochin Airport. He will assist you to the hotel and throughout the check in process and will hand over the documents related to tour. After refreshments, you will visit Mattancherry Palace, Kerala Folklore Museum. You will be able to see many small wooden temples can be seen here. Post lunch, you will have the glimpses of Pardesi Synagogue, Santa Cru Basilica and Maritime Museum. You can have a leisurely walk on the beach in the evening and will return back to the hotel for dinner and overnight stay.


                        </p>


                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong>Cochin – Munnar</strong></h4>
                        <p>

                          On the second day of the tour, we shall move onwards to Munnar (soon after breakfast). Munnar is the most beautiful Hill Station of South India. Filled with Tea Plantations, it presents greenery at its best. So, on reaching here, the first thing we will do is take you to Tata Tea Factory where you can see the entire process of tea making. After this and South Indian lunch, we shall see Thirumeny Cultural Centre. Here enjoy Indian Kathakali show and Indian Martial Arts – Kalari! After this enjoy the scenic beauty of Attukal Waterfalls. In the evening, we shall return back to the hotel for dinner and night stay.




                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong> Munnar Sightseeing</strong></h4>
                        <p>

                          AThe natural beauty of Munnar is so much that spending even a week in this place seems less. However, we will spend only a few days here. So, on the 2nd day in Munnar; get up to a lazy morning with a hot cup of South Indian Filter Coffee.Enjoy a refreshing breakfast and move on to see more of Munnar. On this day we shall take you to Erivakulum National Park. Filled with a number of Endangered Species, it’s a must visit place! In the evening see the Echo Point and Thommankthu Waterfalls. Enjoy the day here as we serve you lunch in the National Park resort only. For dinner and night stay we shall return to the hotel.


                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>  Munnar – Thekkady</strong></h4>
                        <p>

                          Next morning after a early tea we will move on to our next destination – Thekkady. Reaching here at the breakfast time; we shall straight away take you to the hotel for breakfast and little rest. Thekaddy is basically the Wild Corridor of South with lush greenery all around. The first thing we will see here is the Periyar Wildlife Sanctuary – a home to around 1000 Elephants, Bison, Langur, Sambar , Wild Boar, Tigers and a number of other animals. After lunch we shall move on to see Chellarkovil falls. Sit here and rest a little as you will find yourself surrounded amidst lush coconut grooves – one of the main attractions of South India.
Our next destination is Kadathanadan Kalari Centre. Here Kalari – the Indian Martial Art is taught here. Enjoy watching one session of this art form. As evening comes up, we will take you to the local market where you can enjoy shopping sandalwood, mythic hair and body oils and spices. For dinner and night stay we will be back in the hotel.



                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 5</button>  <strong> Thekkady – Kumarakom </strong></h4>
                        <p>

                          Our next destination is Kumarakom – known for its backwaters. After a early breakfast, we shall move on to this place. The first destination here is Kumarakom Bird Sancturay. Dwell in the chirpiness of thousands of birds and glee at the different types of nests they have made. This place which is filled with lagoons, paddy fields and coconut trees also resounds the beauty of its backwaters. So, after visiting the bird sanctuary, we shall take you on a backwater ride along the river Vembanad in one of the houseboats. Enjoy your afternoon relishing south Indian cuisine and local life. In the evening we shall be back in the hotel where you can enjoy an Ayurvedic Message – which is explicit of South India! Dinner and night stay is at hotel only.


                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 6</button>  <strong>  Kumarakom – Alleppey</strong></h4>
                        <p>

                      Our next destination is Alleppey , just 45 minutes drive from Kumarakom. So, after breakfast we shall move on towards Alleppey. Allepey is a laid down small town of South India. Yet staying here is different experience. Houseboats are an enduring experience here. These man- made living houses on the river have everything to make you get a different experience. Enjoy the scenic beauty of the river – side, coconut palms, Chinese Fishing Nets, children playing, all while you sit in the boat watching television, sipping hot Filter Coffee and savouring south Indian delicacies. If you wish you can also enjoy Kayaking through narrow backwater canals and Ayurvedic messages. Night stay and dinner in the houseboat only.

                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 7</button>  <strong>   Alleppey Sightseeing </strong></h4>
                        <p>

                          In addition to the floating houseboats there are other tourist attractions too. So, after breakfast on the boat, we will move on to see Kuttanad. Kuttanad also called the Rice Bowl of India. Its known for its avian population – you can see thousands of Green Parrots flying and sitting on paddy fields. Watch out for Traditional Cane Basket called Ottal and try out the local beverage Toddy once you are here. Hire a Motorbike and ride the city in all its colours! For lunch we shall return back to the hotel. In the evening enjoy Ayurvedic Spa or simply relax on your own. Dinner and night stay in the hotel only



                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 8</button>  <strong>    Alleppey – Kovalam </strong></h4>
                        <p>

                        Kovalam which is the next destination is famous for its beaches. It will be afternoon when we will reach here; so we will begin soon after the breakfast. On the reaching Kovalam, check in the hotel and have your lunch. After lunch we shall take you Kowdiar Palace. See the rich heritage of South India in these Palaces. Later in the evening, enjoy sipping fresh coconut water at the sea beach of Kovalam. Dinner and night stay  at Kovalam hotel.



                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 9</button>  <strong>    Kovalam – Kanyakumari </strong></h4>
                        <p>

                          Today, we shall move on to Kanyakumari which is just 1 and ½ drive. Kanyakumari is the land of Swami Vivekananda. So, soon after breakfast we shall reach Vivekananda rock Memorial. Situated in the midst of the sea, it is one of the most beautiful places to see around. After taking a good round of the place, we will see Thanumalayan Temple. Before you enter the temple, see the engravings on the outer walls of the Temple – these are on the lines of Meenakshi Temple! It enshrines three Hindu Gods – Shiva, Vishnu and Brahma !
  Soon after lunch we shall move on to see padmanabhapuram Palace! - One of the best examples of Kerala Architecture it exhibits wooden and granite statues, coins, weapons and glass chandeliers. After this we will move on to see the famous Wax Museum of Kanyakumari. Dinner and night stay at Hotel in Kanyakumari.





                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 10</button>  <strong>   Kanyakumari – Trivandrum  </strong></h4>
                        <p>
                          Wake up to an early morning and see the Sun Rising at Sun Rise Point. Soon after breakfast, we move on to Trivandrum – your last destination from where you shall catch your flight back. On reaching Trivandrum, we will help you board your flight for further journey.



                        </p>
                      </div>

        							</div>
        						</div>
                  </div>



        <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});


$(document).ready(function(){
    $('.collapsible').collapsible();
  });

  $(document).ready(function(){
     $('.tabs').tabs();
   });
</script>



<% include ../partials/footer %>
