<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>LADAKH TOUR</h1>
  <p class="teal-text text-darken-4">
Kashmir, one of the most beautiful tourist destination in India, is the real paradise on earth. Travel to Kashmir to cherish the impeccable natural beauty.
We provide SRINAGAR,PAHALGAM,GULMARG,SRINAGAR
</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>


<div class="container">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="/img/ladakh1.jpg" alt="">
                <img  class="responsive-img pt-5 mt-5" src="/img/ladakh2.jpg" alt="">

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
      <div class="collapsible-body">
        <ul><li >*Assistance upon arrival and departure in Leh</li>
      <li >*All Hotel/guest house or camp accommodation on Double/twin/triple Sharing Basis as per option selected</li>
      <li >*Meal Plan MAP basis (Bed tea+ Breakfast + Dinner). (05 Breakfast + 05 Dinner)</li>
      <li >*Welcome in Ladakhi style tea In Hotel or Guest House.</li>
      <li >*All transfers, sightseeing & overland journey by non-air-condition Mahindra Scorpio, Xylo, Innova or Tempo Traveler (as per the option selected) as per the programme, point to point basis, not at disposal (pick up from Leh airport till Leh airport drop). Airport Transfer at Leh in Van/Eeco/Tavera/Innova.</li>
      <li >*Permit charges - (wild life fee , red cross fee, inner line permits to Nubra valley & Pangong lake , Ladakh entry fee )
      First Add Medical kit in taxi.</li>
      <li >*All applicable luxury/ road taxes</li>
      </ul></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
      <div class="collapsible-body">
        <ul>
        <li>*Air Fare to and from Leh Heater charges</li>
        <li>*Any services not mentioned in the inclusions</li>
        <li>*Monument & museum entry fee, guide fee, camera fee, camel rides, rafting etc.</li>
        <li>*Extra personal costs e.g. laundry, telephone, tips, extra food, Lunch, Drinks, Cigarettes, Mineral water etc
        Medical/Travel insurance, medical costs or expenses of any other nature not mentioned in the inclusions above</li>
        <li>*Additional cost due to flight cancellation/ road blocks ill health , political /union issues, or any reasons beyond control, emergency evacuation etc</li>
        <li>*Oxygen Can/ Cylinder</li>
        <li>*Any change in program made by the guest while in Leh , - additional cost will have to be paid to our office directly in cash & retention charges will apply</li>
      </ul></div>
    </li>

  </ul>





              </div>
							<div class="col l8">
								<h2 class="center teal-text">LADAKH TOUR (05 NIGHTS / 06 DAYS )</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Arrive Leh</strong></h4><p>
                Arrival Leh Kushok Bakula Airport (This must be one of the Most Sensational Flights in the World. On a clear day from one side of the aircraft can be seen in the distance the peaks of K2, Nanga Parbat, Gasherbrum and on the other side of the aircraft, so close that you feel you could reach out and touch it, is the Nun Kun massif.) Upon arrival you will met by our representative and transfer to Hotel for Check in. Complete day for rest and leisure to acclimatize followed by Welcome tea or Coffee at the Hotel. Evening visit Shanti Stupa. Later visit the market (stay for 01hour only). Return back to the hotel for Overnight stay.


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong> SHAM VALLEY</strong></h4>
                <p>

                  After breakfast you drive downstream along the River Indus on Leh – Kargil Highway. And start our sightseeing with Hall of Fame (Museum Constructed by India Army) near Leh is worth a visit for every Indian, and proceed further to Gurudwara Patthar Sahib Nestled deepin the Himalayas, A drive of another 4 km took us to Magnetic Hill which defies the law of gravity & further Driving through a picturesque landscape we reached the Confluence Of The Indus And Zanskar River. After visiting above places we drive back to Leh enroute visiting Spituk Monastery, Built in 15th century during the reign of Grags ‘bum-lde, these new Gelug-pa monastery was built like fortress on the summit of crags. Later proceed for Indus Valley Monastery Starting with Hemis Gompa, the largest monastic foundation of Drukpa Kagyu Order of Tibetan Buddhism, Thiksey Monastery an impressive complex rising tier upon tier on a hill above the village, Shey Palace, The ancient capital of Ladakh, 3 Idiots Rancho School & Sindhu Ghat. After visiting above places we drive back to Leh. Evening at leisure to explore the city on your own. Dinner & Overnight at the Hotel



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>NUBRA VALLEY VIA KHARDUNG</strong></h4>
                <p>

                  Post breakfast we drive to Nubra Valley. The road journey from Leh to Nubra Valley passes over Khardong La (The Highest Motorable Road In The World) at 5,602 Mtrs / 18,390 Ft, around 39 km from Leh. From the pass, one can see all the way south over the Indus valley to seemingly endless peaks and ridges of the Zanskar range, and north to the giants of the Saser massif. Nubra Valley is popularly known as Ldumra or the valley of flowers. It is situated in the north of Ladakh between the Karakoram and Ladakh ranges of the Himalayas. The average altitude of the valley is 10,000 Ft. above sea level.
  Upon arrival in Nubra we check in at our Camp / Hotel in Hunder for Overnight stay. In the evening you can walk around the tiny villages to see how the locals live in this part of the world. A visit to a Ladakhi home can be arranged. Overnight Stay at the Camp or Hotel.


                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong> NUBRA VALLEY – LEH</strong></h4>
                <p>

                  After an early breakfast we check out from the Camp and drive to Hunder where you have opportunity to ride on a bacterian camel (double humped) amidst the sand dunes of this high altitude desert with snowcapped mountains on the horizon. Between Hunder and Diskit you come across sand dunes besides the road. Seen in isolation you could well be amongst the sand dunes of the Thar Desert in Rajasthan.

  It is indeed a strange sight as one side of the road are Rocky Mountains that characterize the Ladakhi landscape and in the distance can be seen snow-capped mountains. On the return stop at Diskit which is the headquarter town of Nubra Valley. Stroll around the bazaar observing the shops and local people going about their daily chores. Diskit is famous for 515 years old Buddhist Monastery, lying magnificently situated on a hilltop, facing the entire Valley.

  Later we drive back to Leh in the late afternoon via Khardungla Top. On arrival at Leh you will check in to your Hotel. In the afternoon you can rest and relax. Rest of the day free on own



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 5</button>  <strong> LEH - EXCURSION TO PANGONG LAKE</strong></h4>
                <p>

                  After an early breakfast we leave for Pangong Lake through Changla pass 5486 Mtrs. The long easy ascent takes you to Changla pass through its winding roads passing through Sakti Village. Stop at the Changla Pass for a quick photograph session and drive down to the village of Tangtse, where you can relax for a cup of tea. Leaving Tangtse for Pangong you pass through few small villages of Changthang and finally you can have a sudden view of the Pangong Lake situated at 14,000 feet (4,267 m). This famous blue brackish Lake of Pangong is 5/6 Kms wide and over 133 Kms long with half of it’s running the other side of the "INDO CHINA BORDER". One rarely feels so close to nature and environment and the scenery is unforgettable. After spending some time at Pangong We drive back to Leh in the late afternoon. Rest of the free on own.Overnight at Hotel in Leh


                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 6</button>  <strong> LEH - EXCURSION TO PANGONG LAKE</strong></h4>
                <p>

                  Leave Ladakh with sweet memories.


                </p>

              </div>

							</div>
						</div>
          </div>


          <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
        </div>
        <script>
        $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
        });


        $(document).ready(function(){
        $('.collapsible').collapsible();
        });

        $(document).ready(function(){
        $('.tabs').tabs();
        });
        </script>



        <% include ../partials/footer %>
