
<% include ../partials/header %>
<link rel="stylesheet" href="/css/manali.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>MANALI TOUR</h1>
  <p class="teal-text text-darken-4">Manali, which is named after the Sanatan Hindu lawgiver Manu literally means ‘the abode of Manu’. Legend has it that sage Manu stepped off his ark in Manali to recreate human life after a great flood had deluged the world and is in the North of Kullu Valley(‘Valley of the Gods’) is famous for its temples, beauty and its majestic hills  If you wish to spend your weekend adoring the beautiful getaways of the Kullu and Manali, join Weekend Thrill for different kinds of Trips.</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>

<div class="container">
<div class="row">
    <div class="col l12">
      <ul class="tabs" id="tabs-swipe-demo">
        <li class="tab col l4"><a  class="active" href="#test-swipe-1">Manali tour(2N/3D)</a></li>
        <li class="tab col l4"><a  href="#test-swipe-2">Manali tour(3N/4D)</a></li>
          <li class="tab col l4"><a  href="#test-swipe-3">Manali tour(3N/4D) Honeymoon</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container" id="test-swipe-1">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="/img/manali1.jpg" alt="">
                <h4>  InclusionsPLAN </h4>
               <ul>
                 <li>Sightseeing</li>
                 <li>» Accommodation</li>
                 <li>» Meals</li>
                 <li>» Local Transport</li>
               </ul>

              </div>
							<div class="col l8">
								<h2 class="center teal-text">    Manali Package for 2N\3D</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Manali</strong></h4><p>
                  Arrival at Manali in the morning. You will be Picked up from Manali bus stand & than Check in at hotel at 12 Noon. In the Afternoon you can go for half day local city tour. Evening will be at leisure. Dinner & Over night at hotel

                </p>


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong>ROHTANG & SOLANG</strong></h4>
                <p>

                  Breakfast at hotel. Today full day excursion visit to Rohtang Pass ( Snow Point in case Rohtang is closed due to snow fall) and Solang Valley. Dinner & Over night at hotel.

                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>Volvo</strong></h4>
                <p>
After Breakfast at hotel you need to vacate the room by 11 AM. Afternoon will be at leisure You can explore the Shopping malls of Manali on your own. In the evening at 04 PM board the Volvo AC bus for Delhi for overnight journey. Drop from Hotel to Manali Bus Stand by Taxi will be prOvided by us.
                </p>

              </div>

							</div>
						</div>
          </div>






          <div class="container" id="test-swipe-2">
          							<div class="row">
                           <div class="col l4">
                          <img  class="responsive-img" src="/img/manali2.jpg" alt="">
                          <h4>Inclusions :</h4>
                          <ul>
                            <li>»Accommodation on twin sharing basis in Deluxe rooms.</li>
                            <li>»All sightseeing as per tour itinerary basis</li>

                            <li>» All transfers</li>
                            <li>»All transportations as per itinerary basis.</li>
                            <li>»All tolls, all parking charges, fuel included</li>
                            <li>»Breakfast</li>
                          </ul>
                        </div>
          							<div class="col l8">
          								<h2 class="center teal-text">Manali Package for 3N\4D</h2>
          								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light orange">DAY 1</button>
                          <strong>Manali Arrival (Local Sightseeing)</strong></h4><p>
                            After arrival at Manali, check in at the hotel and freshen up and enjoy leisure time at your own pace. Tour the city to visit some of the prominent spots and attractions including Hadimba Devi Temple also called Dhungri Temple, Manu Temple, Tibetan Monastery and Vashisth Village. Return to the hotel and enjoy the remaining time at your own leisurely pace. Dinner is served followed by an overnight stay at the hotel.


                          </p>


                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light deep-purple">DAY 2</button>  <strong> Manali (ROHTANG & KASOL)</strong></h4>
                          <p>
                            Post breakfast at the hotel, leave for a full day excursion to visit Kothi Gorge, Marhi, Gulaba. Dinner is served followed by an overnight stay at the hotel.


                          </p>
                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light cyan">DAY 3</button>  <strong>Manali (Full Day Trip To SALONG & Manikaran )</strong></h4>
                          <p>
                            Wake up at your leisure and have breakfast. Then head out to an excursion to Manikaran. Manikaran has the World’s hottest Sulphur Spring Waters. Drive back to Manali. Check in and overnight stay at the hotel.

                          </p>

        <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 4</button>  <strong> Manali – Delhi  Departure</strong></h4>
        <p>  Post breakfast, check out from the hotel and begin your journey towards Delhi.

Our expertly curated Manali tour itinerary provides the best experience. This is the best Manali honeymoon package that will provide everything you wanted
</p>
          </div>

    		</div>
      	</div>
        </div>


        <div class="container" id="test-swipe-3">
                      <div class="row">
                         <div class="col l4">
                        <img  class="responsive-img" src="/img/manali3.jpg" alt="">
                        <h4>This package includes:</h4>
                        <ul>
                          <li>»  Evening Tea with Cookies</li>
                          <li>»Unlimited Tea/ Coffee on Demand</li>

                          <li>» Flowering in Room during the stay</li>
                          <li>»1 Bottle of Apple wine during the stay</li>
                          <li>»1 Candle light Dinner</li>
                          <li>»All sightseeing, transfers by personal cab</li>
                          <li>»Accommodation in Honeymoon sweet</li>
                          <li>»All Taxes Inclusive</li>
                        </ul>
                      </div>
                      <div class="col l8">
                        <h2 class="center teal-text">3N-4D special honeymoon packages manali from Delhi</h2>
                        <div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light orange">DAY 1</button>
                        <strong>Delhi/Manali</strong></h4><p>
                          Morning Pickup from Delhi – Manali (545km,12h), and get driven to Manali. Manali. Manali is the most beautiful Hill Station in Himachal Pradesh getting popularity day by day among all tourists especially Honeymoon couples.Here one can see the majesty of the mountains at its height and splendor.Visit Ma Hidimba Devi Temple, Vashist Hot water spring club house, Tibetan monastery and many more.  Overnight stay at Manali Overnight stay at Manali.


                        </p>


                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light deep-purple">DAY 2</button>  <strong>Manali, Rohtang valley tour</strong></h4>
                        <p>
                          In the morning arrive to Rohtang valley tour, situated an altitude of 4, 11 meters (13.400 Ft) on the high way to Keylong is Rohtang valley. Here one can see the majesty of the mountains at its height and splendor. Full day visit Kothi, Gorge, Gulaba, Rahala Falls, Marti and enjoy skiing, paragliding.Overnight stay in Manali.

                        </p>
                        <h4> <button class="btn btn-floating btn-large waves-effect waves-light cyan">DAY 3</button>  <strong>KASOL & MANIKARAN</strong></h4>
                        <p>
                          after breakfast we arrive for kasol and there we provides tents are provided at cheap cost if available. There is no better place to stay in Kasol than this one with stars above your head, cozy tents, walking distance from the pristine Parvati Valley. Full Camping Feel!

  Markets are nearby, offering enticing variety of aztec print sweaters, multicolor pajamas , Kimonos, woolen socks, bandannas, Shiva wallets, wall hangings, jute bags, bagpacks, lots and lots of fringe clothing and tassel bags! Avoid buying Jewellery, you can score them at less than half price in Delhi! .
   Manikaran - Tosh
  We booked a taxi for INR 900 from Kasol to Tosh, which is about 37 Km ( 1.5 hours max ), Stopping at Manikaran Sahib which is 6 km approximately 15 mins from Kasol. Manikaran Sahib Gurudwara is located in the Parvati Valley between the rivers Beas and Parvati, It is at an altitude of 1760 m.

  At Tosh, we stayed at Electricity Board Guest House, same goes for this as for Forest Guest House. The place overviews Parvati valley and a clear blue sky shelters you, weather is to die for and surroundings immensely peaceful. Food here takes a lot of time to cook and is served late, slightly more expensive hence. I would advice ordering in advance, filling dishes and less quantity at once as food gets cold in less than 10 mins. Prices of snacks, chips, cold drinks, biscuits and every other commodity are higher than MRP.

  If you, like us, are heading to Kheer Ganga next, trek to Hill Top at Tosh will be a warm up and view worth it. We had our, umm lost count, Masala Chai and mind blowing pakodas, followed by Nutella Waffles at The Hill Top Cafe costing INR 500 for 4.


                        </p>

      <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 4</button>  <strong>Return Back To Delhi</strong></h4>
      <p>  After the breakfast check out the hotel and arrive to Delhi, railway Station or airport.

Welcome Drinks on arrival (Non Alcoholic)

      </p>
        </div>

      </div>
      </div>
      </div>

</div>
















        <div class="fixed-action-btn">
  <a class="btn-floating btn-large red pulse"
  href="/form_query">
    <i class="large material-icons">mode_edit</i>
  </a>

</div>
<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});
$(document).ready(function(){
    $('.collapsible').collapsible();
  });




</script>



<% include ../partials/footer %>
