<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>Manali Tour</h1>
  <p class="teal-text text-darken-4">
  Manali is a high-altitude Himalayan resort town in India’s northern Himachal Pradesh state. It has a reputation as a backpacking center and Students tour destination. Set on the Beas River, it’s a gateway for skiing in the Solang Valley and trekking in Parvati Valley. It's also a jumping-off point for paragliding, rafting and mountaineering in the Pir Panjal mountains, home to 4,000m-high Rohtang Pass.


</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>


<div class="container">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="/img/manali4.jpg" alt="">
                <img  class="responsive-img pt-5 mt-5" src="/img/manali5.jpg" alt="">

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
      <div class="collapsible-body">
        <ul><li >Stay in Tents or 3 * hotels</li>
      <li >*Quad or Quintuple sharing room</li>
      <li >*Whole Trip travel in A/c bus </li>
      <li >*AP plan (Breakfast- lunch - dinner)</li>
      <li >*Trekking & camping </li>
      <li >*DJ evening</li>
      <li>Professional Photographer</li>
      <li>River crossing</li>

      </ul></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
      <div class="collapsible-body">
        <ul>
        <li>*Extra meal</li>
        <li>*Extra amenities</li>
        <li>*Other activities which is not mentioned in itinerary</li>
        <li>*Monument fees</li>
        <li>*shopping at own expense</li>

      </ul></div>
    </li>

  </ul>





              </div>
							<div class="col l8">
								<h2 class="center teal-text">Manali Tour</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Delhi - Manali</strong></h4><p>
              Overnight journey to Manali by AC deluxe bus.


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong> Local Sight Seeing</strong></h4>
                <p>
                  Arrival at Manali, after breakfast, proceed to half day city tour visiting Hadimba Temple, Manu Temple, Vashisht Temple and Tibetan Monastery. Evening free for roam at your own. Overnight stay at Manali hotel. </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>Manali - Rohtang Pass</strong></h4>
                <p>

                  Full day excursion visiting Kothi, Gulaba Fall, Marhi, Rohtang Pass and Solang Valley. Overnight stay at Manali hotel or camps.



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>Manali - Kullu - Manikaran </strong></h4>
                <p>

                  After early breakfast, full day excursion visiting Manikaran ( Hot water springs) enroute Kasaul and Kullu -Shamshi (A Famous industry for Kullu Shawl). Overnight stay at hotel.





</p>
</p>
<h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>Departure</strong></h4>
<p>

  Breakfast at hotel (10:00 AM)
  Proceed to Delhi (573 Kms) by A/C coach Bus






</p>

              </div>

							</div>
						</div>
          </div>


          <div class="fixed-action-btn">
    <a class="btn-floating btn-large red pulse"
    href="/form_query">
      <i class="large material-icons">mode_edit</i>
    </a>

  </div>
        <script>
        $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
        });


        $(document).ready(function(){
        $('.collapsible').collapsible();
        });

        $(document).ready(function(){
        $('.tabs').tabs();
        });
        </script>



        <% include ../partials/footer %>
