<% include ../partials/header %>
<div class="container">
<div class="jumbotron lime lighten-2">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>Rajasthan Grand Tour</h1>
  <p class="teal-text text-darken-4">Shimla, an abode to the captivating natural phenomena and amazing vistas, welcomes the tourists from various parts of the world. With our 2 nights and 3 days Shimla holidays package, you are offered a wonderful opportunity to explore the alluring natural panoramic view of Shimla. Surround yourself with the stunning views, tranquil ambience, bustling markets and popular tourist attractions. Right from walking on the ridge, to relishing coffee at Indian Coffee House; from a visiting the sacred Jakhoo Temple, to enjoying horse riding in the apple orchards, a complete trip of Shimla is provided in this package.
  ITINERARY</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>


<div class="container">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="images/top_1.jpg" alt="">
              </div>
							<div class="col l8">
								<h2 class="center teal-text">Rajasthan GRAND TOUR</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Arrival Delhi</strong></h4><p>
                  Arrive Delhi, meet assist at the airport and transfer to hotel. Night stay in Delhi.

                </p>



                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong>Delhi</strong></h4>
                <p>

                  After breakfast proceed for sightseeing tour of Old & New Delhi:
                  OLD DELHI - A sight-seeing tour of Old Delhi would entail visiting the Raj Ghat - the memorial site where Mahatma Gandhi was cremated; Jama Masjid - the largest mosque in India.

                  NEW DELHI - An extensive sight-seeing tour of New Delhi would include a visit to the Humayun's Tomb, the Qutub Minar, a drive along the ceremonial avenue - Rajpath, past the imposing India Gate, Parliament House, the President's Residence and would end with a drive through the Diplomatic Enclave. Night stay in Delhi.

                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>Delhi-Agra</strong></h4>
                <p>

              Morning drive to Agra, on arrival transfer to hotel. Later proceed for city sight seeing tour visiting the world famous Taj Mahal, built by the Mughal Emperor Shahjehan in 1630 for his queen Mumtaz Mahal to enshrine her mortal remains. Also visit Agra Fort, containing the Pearl Mosque - the rusty and majestic red- sandstone fort of Agra stands on the banks of the river Yamuna and the construction was started by Emperor Akbar in 1566. At the Diwan-I-Khas (hall of private audience) where marble pavilions with floral inlays lend an ethereal ambience, the Emperor sat on his gem-studded peacock Throne and met foreign ambassadors and rulers of friendly kingdoms. Also visit Itmad-up-Dau's tomb, built by Noorjehan in memory of her father. Night stay in Agra.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>Agra-Ranthambore</strong></h4>
                <p>

          Morning drive to Ranthambhore-famous for the wildlife sanctuary which is said to have the India's friendliest Tigers and also considered to be the best place in the world to photograph the tiger in its natural habitat, also a wonderful place for bird watching enroute visiting Fatehpur Sikri-a perfectly preserved red sandstone “ghost town” which was the estranged capital of mughal emperor Akbar, built in 1569 and deserted when its water supply failed. Arrive Ranthambhore & transfer to hotel. Night stay in Ranthambhore.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 5</button>  <strong>Ranthambore</strong></h4>
                <p>

    Early morning 3 hrs Jungle safari in a Canter (a vehicle which is open on the top) enjoy the game viewing in the national park and back to the hotel. After lunch second visit to jungle and enjoy the game viewing. Night stay in Ranthambhore.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 6</button>  <strong>Ranthambore-Jaipur</strong></h4>
                <p>
Early morning visit the jungle in search of tiger. Later after breakfast drive to Jaipur.On arrival transfer to hotel. Evening free to explore the city. Night stay in Jaipur.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 7</button>  <strong>Jaipur</strong></h4>
                <p>

                  Morning excursion to Amber Fort. Elephant ride ascent to the fort.
                  AMBER FORT PALACE - Amber is the classic romantic Rajasthani fort palace. Its construction was started by Man Singh I in 1592, and completed by his descendent Jai Singh I. Its forbidding exterior belies an inner paradise where a beautiful fusion of Mughal and Hindu styles finds it's ultimate expression. Continue sight-seeing.
                </p>
                <p>

                  CITY PALACE - A delightful blend of Mughal and traditional Rajasthani architecture, the City Palace sprawls over one-seventh of the area in the walled city. It houses the Chandra Mahal, Shri Govind Dev Temple and the City Palace Museum.
                  </p>
                  <p>

                  JANTAR MANTAR - This is the largest and the best preserved of the five observatories built by Jai Singh II in different parts of the country. This observatory consisting of outsized astronomical instruments is still in use.
                  </p>
                  <p>

                  HAWA MAHAL - The ornamental facade of this "Palace of Winds" is a prominent landmark in Jaipur. Their five-storey structures of sandstone plastered pink encrusted with fine trelliswork and elaborate balconies. The palace has 953 niches and windows. Built in 1799 by Pratap Singh, the Mahal was a royal grandstand for the palace women. Night stay in Jaipur.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 8</button>  <strong>Jaipur-Pushkar</strong></h4>
                <p>
After breakfast drive to Pushkar, Pushkar boasts temples, though few are as ancient as you might expect at such an important pilgrimage site, since many were deserted by Aurangzeb and subsequently rebuilt. The most famous is the Brahma Temple, said to be one of the few temples in the world dedicated to this deity. It's marked by red spire, and over the entrance gateway is the hans, or goose symbol, of Brahma, who is said to have personally chosen Pushkar as its site. Night stay in Pushkar.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 9</button>  <strong>Pushkar-Udaipur</strong></h4>
                <p>
Morning drive to Udaipur- an oasis in the desert state of Rajasthan. Arrive Udaipur and transfer to hotel. Night stay in Udaipur.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 10</button>  <strong>Udaipur</strong></h4>
                <p>
                  Morning city sight seeing tour of Udaipur. The city is built in 1559 A.D. by Maharaja Udai Singh and has been described as the most romantic spot on the continent of India by Col. James Todd. Visit the City Palace museum. The City Palace, one of the largest palaces in the world, can be approached through the Bari Pol or the Great Gate (1600) with the royal drums and then onto the Tripolia Gate (1725). The Tripolia is a triple gate made of marble arches. Between these two gates are eight carved toranas or archways under which the maharanas were weighed against gold and silver which was later distributed to the poor subjects. Popular entertainment like elephant fights took place in the court beyond the Tripolia Gate. Also visit Jagdish temple. Maharana Jagat Singh built this temple between 1628-1653 at a whopping cost of Rs 1.5 million. The temple, dedicated to Lord Jagannath, is at a great height and can be approached by a long flight of stairs. The interior of the temple has exquisite carvings and is supplemented with prominent friezes. The temple has several smaller shrines in four corners of it that are dedicated to Lord Ganesh, Shiva, the Sun God and Goddess Shakti. A Sanskrit inscription in the porch written by Krishna Bhatt in the year 1651gives a detailed history of the reign of Maharana Jagat Singh.
                </p><p>
                  Later visit Saheliyon ki Bari- the Garden of Royal Ladies .Saheliyon ki Bari lies just beneath the Fateh Sagar Lake. Maharana Sangram Singh II designed this garden in the early 18th century purely as a pleasure garden and a summer palace for the 48 young maids that formed a part of the prince's dowry. It is also said that the garden was presented as a peace offering from the Emperor of Delhi. Inside the garden is a reservoir surrounded by four black marbled cenotaphs in its four corners and one white marbled one in the centre. The terraces of these cenotaphs have water fountains shaped like birds from whose beaks water gushes out in thin sprays like the singing rain – producing a wonderful sight. The Maharanas entertained themselves around the four ornamental pools and the five fountains. These fountains were imported from England in 1889. Maharana Bhopal Singh specially was very fond of this place and built a rain fountain, so that it looked like rain dancing on the dancing maids. Also visit Bhartiya Lok Kala Mandir ( Folk art museum) and the Pratap Memorial. Rest of the day at leisure. Night stay in Udaipur.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 11</button>  <strong>Udaipur-Mount Abu</strong></h4>
                <p>
After breakfast drive to Mt. Abu enroute visiting the Jain temples at Ranakpur, superbly preserved in a near-perfect condition for over 500 years. The most attractive features are the 29 halls of the temple, which have 1444 pillars of which no two are like. On arrival transfer to hotel. Night stay in Mount Abu.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 12</button>  <strong>Mount Abu</strong></h4>
                <p>
                  Morning visit world famous Dilwara Jain Temple, Nikki Lake, Brahmin Kumari Ashram etc.
                  Dilwara Temple: These remarkable Jain temples are Mount Abu's main attraction and among the finest examples includes two temples in which the art of carving marble reached unsurpassed heights. The older of the temples is the ' Vimal Vasahi ', built in 1031 and dedicated to the first tirthankar, Adinath. In the front of the temple stands the ' House of Elephants ', with figures of elephants marching in procession to the temple entrance. The later ' Tejpal temple ' is dedicated to Neminath, the 22nd tirthankar, and was built in 1230 by the brothers Tejpal and Vastupal. The carving is so fine that, in places, the marble becomes almost transparent.</p>

                <p>  Nakki Lake: Nakki Lake is virtually in the heart of Mount Abu and is a big attraction with tourists. The lake takes its name from the legend that it was scooped out by a god, using only his nails, or nakh. It's a pleasant stroll around the lake - look for the strange rock formations. On the lake there is a dilapidated concrete boat-shaped snack bar. Night stay in Mount Abu.

                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 13</button>  <strong>Mount Abu-Jodhpur</strong></h4>
                <p>
After breakfast drive to Jodhpur. On arrival transfer to hotel. Night stay in Jodhpur.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 14</button>  <strong>Jodhpur</strong></h4>
                <p>
After a relaxed breakfast proceed for city sight seeing tour of Jodhpur. Jodhpur - the stronghold of the fierce Rathore clan, was founded in 1459 by Prince Jodha. Visit the Mehrangarh Fort, situated on a low sandstone hill. Within the fort, visit Moti Mahal and Phool Mahal. Also visit Jaswant Thada, an imposing marble cenotaph, built in memory of Maharaja Jaswant singh II around 1899 and Umaid Public gardens. Night stay in Jodhpur.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 15</button>  <strong>Jodhpur-Jaisalmer</strong></h4>
                <p>
Morning drive to Jaisalmer, on arrival transfer to hotel. Evening at leisure. Night stay in Jaisalmer.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 16</button>  <strong>Jaisalmer</strong></h4>
                <p>
Morning city sightseeing tour of Jaisalmer. Throbbing in the heart of the Thar, the burnished sandstone, is an intricately molded wonderland in place of a barren land, today stands a city of gilded magic. The origins of Jaisalmer go back to the 12th century, when Rawal Jaisal abandoned his old fort at Ludarwa and laid the foundation of a new city. Visit the magnificient fort, the Patwon Ki Haveli ( Mansion) and Salim singh Ki Haveli, with their carved balconies and brackets which are supreme examples of the art. Evening camel ride to visit Sam Dunes. Night stay in Jaisalmer.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 17</button>  <strong>Jaisalmer-Bikaner</strong></h4>
                <p>
Morning drive to Bikaner. On arrival transfer to the hotel. Later city sight seeing tour. Bikaner is named after its founder Rao Bikaji in 1488. But long before this, the city was trade center on the caravan routes from Africa and West Asia. Bikaner's dominant features are rippling sands and abundant sunshine. The city stands on an elevation, enclosed by a 7 Kms wall, which can be entered from 5 gate. Bikaner City is bolstered by imposing walls and has a 16th century fort housing old palaces, temples and mosque. Founded by Raja Rai Singh the fort is distinguished by its long range of 37 pavilions, a line of balconies and aerial windows of varying designs. Also visit Lallgarh Palace, the museum, Bhanda Sagar Jain and Deshnoke Rat temple. Night stay in Bikaner.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 18</button>  <strong>Bikaner-Mandawa</strong></h4>
                <p>
Morning drive to Mandawa, on arrival transfer to the hotel. Later visit Mandawa, founded 1755 by Thakur Nawal Singh and still the home of his descendants, has beautiful frescoes, havelis and mansions. Mandawa castle one of the finest castles of Rajasthan, is now a hotel and house of collection of armories, costumes of ancestors, canons from 1820 ancient coins, numismatic collection and many other interesting items, preserved in a museum. Night stay in Mandawa.
                </p>

                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 19</button>  <strong>Mandawa-Delhi-Departure</strong></h4>
                <p>
Morning drive to Delhi and transfer to airport for onward journey.
                </p>


              </div>

							</div>
						</div>
          </div>
          <% include ../partials/footer %>
