
<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>SHIMLA HILL STATION TOUR</h1>
  <p class="teal-text text-darken-4">Shimla, an abode to the captivating natural phenomena and amazing vistas, welcomes the tourists from various parts of the world. With our 2 nights and 3 days Shimla holidays package, you are offered a wonderful opportunity to explore the alluring natural panoramic view of Shimla. Surround yourself with the stunning views, tranquil ambience, bustling markets and popular tourist attractions. Right from walking on the ridge, to relishing coffee at Indian Coffee House; from a visiting the sacred Jakhoo Temple, to enjoying horse riding in the apple orchards, a complete trip of Shimla is provided in this package.
  ITINERARY</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>

<div class="container">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="images/top_1.jpg" alt="">
              </div>
							<div class="col l8">
								<h2 class="center teal-text">SHIMAL-KUFRI TOUR</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Delhi-Shimla</strong></h4><p>
                Early morning drive from Delhi to Shimla. Meet our representative upon arrival at Shimla and transfer to your pre-booked hotel. Evening time is free for shopping on the Mall Road and own activities. Enjoy mouthwatering dinner and overnight stay at the hotel.
                </p>


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong>Shimla – Kufri –Shimla</strong></h4>
                <p>

                After breakfast at the hotel, get ready for the sightseeing tour of Shimla. Visit several prominent attractions like the Kalbadevi Temple, Jakhu Temple, Hanuman Temple and Christ Church. In the afternoon, proceed for an excursion to Kufri from Shimla where you can rejuvenate yourself amidst the dense forests, snow-capped mountains and exotic flora and fauna. Evening time is completely free to enjoy the breathtaking beauty of Kufri region. Visit Fagu, a picturesque small village, Indira Gandhi Holiday Home and enjoy horse riding in the splendid apple orchids. Return to your hotel, visit mall road and do shopping. Dinner and overnight stay at the hotel.

                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>Shimla - Delhi</strong></h4>
                <p>

                After breakfast, early morning drive from Shimla to Delhi for your onward destination.
                Tour and Services ends
                </p>

              </div>

							</div>
						</div>
          </div>
          <br>
<hr>
<br><br><br>




          <div class="container">
          							<div class="row">
                           <div class="col l4">
                          <img  class="responsive-img" src="images/top_1.jpg" alt="">
                        </div>
          							<div class="col l8">
          								<h2 class="center teal-text">SHIMLA-CHAIL TOUR</h2>
          								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light orange">DAY 1</button>
                          <strong>Delhi - Chail</strong></h4><p>
                            Travel by surface from Delhi to Chail
                            Chail: is 49 km from Shimla. The Chail Palace is well known for its architecture. The cricket ground and a polo ground which is there at an altitude of 2,444 m was owned by erstwhile royal family of Patiala. It is the world's highest cricket ground. In 1891, Maharaja Bhupinder Singh of Patiala incurred the rage of Lord Kitchener. It led to the restriction of his entry into the summer capital, Shimla. This incensed the Maharaja and he vowed to build a new summer capital for himself. So he rebuilt the place (Chail) as per his requirements.
                            on arrival at chail check in to hotel, Rest of the day free for leisure .overnight stay at hotel at Chail

                          </p>


                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light deep-purple">DAY 2</button>  <strong>Chail – Naldehra – Chail</strong></h4>
                          <p>

                            After Breakfast,visit to Chail covering Kali Ka Tibba, Sadhu Pul, Cricket Ground). Then transfer to Naldehra (35 Kms) :23 km away from Shimla, at 2044 m this has a thick cedar forest, picnic grounds and a nine-hole par 68 Golf course that is regarded as one of the most challenging in the country. In the repeat nine there are four additional greens and different tees, which increase the yardage in the second round. This was designed by the British Viceroy of India, Lord Curzon and he was so enchanted by the spot that he often camped here for days on end communicating with Viceregal Lodge by means of a heliograph. He even named his daughter after the place.
                            later back to hotel.free for leisure ,overnight stay at hotel at chail.

                          </p>
                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light cyan">DAY 3</button>  <strong>Chail – Kufri - Shimla</strong></h4>
                          <p>
                            After Breakfast Proceed for the sightseeing of Kufri
                            kufri: a 30 Minutes drive from Shimla, an exotica of nature as a place surrounded by dense forest and snow caped mountains amidst virgin peaks and natures flora and fauna where one can completely relax and tune oneself for natural beauty,situated at an altitude of 2500 meters just an hours drive from Shimla and a very popular ski resort during the winter months. Then proceed to Shimla, check into the hotel,Evening free at leisure, Free to explore famous mall road. Overnight stay at hotel at Shimla.
                          </p>

        <h4> <button class="btn btn-floating btn-large waves-effect waves-light red">DAY 4</button>  <strong>Shimla local sightseeing</strong></h4>
        <p>  After breakfast free time for rest . Afternoon visit to half day city tour visiting Indian Institute Of Advanced Studies, Sankat Mochan Temple and Jakhu temple, Evening free to stroll in the famous shopping place of Shimla town - The Mall & The Ridge. Later back to hotel.Rest of the day free for leisure.overnight stay at hotel at shimla.</p>
        <h4> <button class="btn btn-floating btn-large waves-effect waves-light green">DAY 5</button>  <strong>Shimla- Delhi</strong></h4>
          <p> After breakfast check out from hotel.drive towards Delhi. Evening arrive Delhi. Drop at railway station/airport for onwards journey.
        </p>  </div>

    		</div>
      	</div>
        </div>



        <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});

</script>



<% include ../partials/footer %>
