
<% include ../partials/header %>

 <link rel="stylesheet" href="/css/manali.css">


<div class="img">
  <div class="bg">
  </div>
</div>

<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>WEEKEND TOUR</h1>
  <p class="teal-text text-darken-4">Manali, which is named after the Sanatan Hindu lawgiver Manu literally means ‘the abode of Manu’. Legend has it that sage Manu stepped off his ark in Manali to recreate human life after a great flood had deluged the world and is in the North of Kullu Valley(‘Valley of the Gods’) is famous for its temples, beauty and its majestic hills  If you wish to spend your weekend adoring the beautiful getaways of the Kullu and Manali, join Weekend Thrill for different kinds of Trips.</p>
  <hr class="my-4">
  <button class="btn ">Check out our tours...</button>


</div>
</div>
<div class="fixed-action-btn" style="right:50px;top:35px;">
<a class="btn tooltipped pulse btn-floating btn-large teal " data-text-color="black" data-position="left" data-tooltip="9999454908"
href="" >


<i class="large material-icons">phone</i>
</a>

</div>
<div class="fixed-action-btn" style="right:50px;top:155px;">
<a class="btn tooltipped btn-floating right top btn-large purple pulse"  data-position="left" data-tooltip="9999807895"
href="">
<i class="large material-icons">message</i>
</a>

</div>



<div class="container">
<div class="row">
    <div class="col l12">
      <ul class="tabs" id="tabs-swipe-demo">
        <li class="tab col l4"><a  class="active" href="#test-swipe-1">Manali tour(2N/3D)</a></li>
        <li class="tab col l4"><a  href="#test-swipe-2">Manali tour(3N/4D)</a></li>
          <li class="tab col l4"><a  href="#test-swipe-3">Manali tour(3N/4D) Honeymoon</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container"id="test-swipe-1">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="/img/mc1.png" alt="">
                <img  class="responsive-img pt-5 mt-5" src="/img/mc2.jpg" alt="">

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
      <div class="collapsible-body">
        <ul><li >Stay in Tents or 3 * hotels</li>
      <li >*Quad or Quintuple sharing room</li>
      <li >*Whole Trip travel in A/c bus </li>
      <li >*AP plan (Breakfast- lunch - dinner)</li>
      <li >*Trekking & camping with professional guides</li>
      <li >*DJ NIGHT LAST DAY</li>

      </ul></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
      <div class="collapsible-body">
        <ul>
        <li>*Extra meal</li>
        <li>*Extra amenities</li>
        <li>*Other activities which is not mentioned in itinerary</li>
        <li>*Monument fees</li>
        <li>*shopping at own expense</li>

      </ul></div>
    </li>

  </ul>





              </div>
							<div class="col l8">
								<h2 class="center teal-text">McLeodganj Tour</h2>
								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                <strong>Delhi - Mcleodganj</strong></h4><p>
              Overnight journey to Mcleodganj by AC deluxe bus.


                <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong> Dalai Lama Temple</strong></h4>
                <p>
                  Day 1 of the Mcleodganj Itinerary starts by reaching early morning to McLeodganj and checking in your hotel. Once you freshen up, head towards some of the cafes serving authentic Tibetian cuisine. Soak in the pleasant atmosphere and enjoy your meal. Post that, head towards the famous Dalai Lama Temple. </p>
                  <p>
                    <strong>Bhagsu Waterfall</strong>
                    Continue your Mcleodganj Itinerary by proceeding towards Bhagsu Waterfall. You can also visit the Bhagsunath Temple. The waterfall is not more than 2-3 KMs from Mcleodganj. When you reach the waterfall, there is a small pond where you can spend some time. If time permits, ask for the route which will take you above the waterfall. As you trek further, you can also take a detour and reach Shiva Cafe. Overlooking the valley, this cafe will provide you a site to relax after climbing the ascent




                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>Trek to Triund</strong></h4>
                <p>

                  Without visiting Triund, your Mcleodganj Itinerary wouldn’t be very rewarding. Triund is the Jewel of Mcleodganj. The snow-clad mountains that you might have seen while relaxing at those cafes, will be much closer when you reach the Triund camping site. Trust me, if you don’t complete this 3 hours trek, McLeodganj visit is incomplete.

Stay at camps of triund



                </p>
                <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong> Dharamshala city </strong></h4>
                <p>

                  Early morning start with down trek from triund to mcleodganj
  After fresh up get ready for Dharamshala city tour
  Includes:
  Dharamshala HPCA cricket stadium
  Shoping at Dharamshala famous market

  OR

  If you have an extra day to spend, I would recommend a paragliding session in Bir-Billing. It is the best paragliding site in India and every year an international contest is organized here in October.


  (OVER NIGHT JOURNEY TO DELHI)




</p>

              </div>

							</div>
						</div>
          </div>






          <div class="container" id="test-swipe-2">
          							<div class="row">
                           <div class="col l4">
                          <img  class="responsive-img" src="/img/manali4.jpg" alt="">
                          <img  class="responsive-img pt-5 mt-5" src="/img/manali5.jpg" alt="">

            <ul class="collapsible">
              <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Tour Cost Includes</div>
                <div class="collapsible-body">
                  <ul><li >Stay in Tents or 3 * hotels</li>
                <li >*Quad or Quintuple sharing room</li>
                <li >*Whole Trip travel in A/c bus </li>
                <li >*AP plan (Breakfast- lunch - dinner)</li>
                <li >*Trekking & camping </li>
                <li >*DJ evening</li>
                <li>Professional Photographer</li>
                <li>River crossing</li>

                </ul></div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Tour Cost Excludes</div>
                <div class="collapsible-body">
                  <ul>
                  <li>*Extra meal</li>
                  <li>*Extra amenities</li>
                  <li>*Other activities which is not mentioned in itinerary</li>
                  <li>*Monument fees</li>
                  <li>*shopping at own expense</li>

                </ul></div>
              </li>

            </ul>





                        </div>
          							<div class="col l8">
          								<h2 class="center teal-text">Manali Tour</h2>
          								<div class="item_text"> <h4>     <button class="btn btn-floating btn-large waves-effect waves-light purple">DAY 1</button>
                          <strong>Delhi - Manali</strong></h4><p>
                        Overnight journey to Manali by AC deluxe bus.


                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light lime">DAY 2</button>  <strong> Local Sight Seeing</strong></h4>
                          <p>
                            Arrival at Manali, after breakfast, proceed to half day city tour visiting Hadimba Temple, Manu Temple, Vashisht Temple and Tibetan Monastery. Evening free for roam at your own. Overnight stay at Manali hotel. </p>

                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 3</button>  <strong>Manali - Rohtang Pass</strong></h4>
                          <p>

                            Full day excursion visiting Kothi, Gulaba Fall, Marhi, Rohtang Pass and Solang Valley. Overnight stay at Manali hotel or camps.



                          </p>
                          <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>Manali - Kullu - Manikaran </strong></h4>
                          <p>

                            After early breakfast, full day excursion visiting Manikaran ( Hot water springs) enroute Kasaul and Kullu -Shamshi (A Famous industry for Kullu Shawl). Overnight stay at hotel.





          </p>
          </p>
          <h4> <button class="btn btn-floating btn-large waves-effect waves-light blue">DAY 4</button>  <strong>Departure</strong></h4>
          <p>

            Breakfast at hotel (10:00 AM)
            Proceed to Delhi (573 Kms) by A/C coach Bus






          </p>

                        </div>

          							</div>
          						</div>
                    </div>
<div class="container" id="test-swipe-3">
  <img src="/img/jaisalmer.jpg" alt="">
</div>



                    <div class="fixed-action-btn">
              <a class="btn-floating btn-large red pulse"
              href="/form_query">
                <i class="large material-icons">mode_edit</i>
              </a>

            </div>
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" rel="stylesheet"/> -->

            <script>
            $(document).ready(function(){
             $('.fixed-action-btn').floatingActionButton();
            });
            $(document).ready(function(){
                $('.collapsible').collapsible();
              });
              $(document).ready(function(){
                  $('.tooltipped').tooltip();
                });



            </script>



            <% include ../partials/footer %>
