<% include ../partials/header %>
<link rel="stylesheet" href="/css/shimla1.css">
<div class="img">
  <div class="bg">
  </div>
</div>
<div class="container">
<div class="jumbotron blue lighten-4">
  <h1 class="cyan-text text-darken-4"><span >
  <i class="material-icons medium teal-text" id="hell">tram </i></span>DESTINATION WEDDING</h1>
  <p class="teal-text text-darken-4">
Kashmir, one of the most beautiful tourist destination in India, is the real paradise on earth. Travel to Kashmir to cherish the impeccable natural beauty.
We provide SRINAGAR,PAHALGAM,GULMARG,SRINAGAR
</p>
  <hr class="my-4">
  <button class="btn ">Check out our plans...</button>


</div>
</div>

<div class="container">
<div class="row">
    <div class="col l12">
      <ul class="tabs" id="tabs-swipe-demo">
        <li class="tab col l2"><a  class="active" href="#test-swipe-1">Udaipur</a></li>
        <li class="tab col l2"><a  href="#test-swipe-2">Goa</a></li>
          <li class="tab col l2"><a  href="#test-swipe-3">Kerala</a></li>
            <li class="tab col l2"><a  class="active" href="#test-swipe-4">Jodhpur</a></li>
              <li class="tab col l2"><a  class="active" href="#test-swipe-5">Amritsar</a></li>
                <li class="tab col l2"><a  class="active" href="#test-swipe-6">Agra</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container" id="test-swipe-1">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="images/top_1.jpg" alt="">
              </div>
							<div class="col l8">
								<h2 class="center teal-text"> Get Married In Udaipur</h2>
								<div class="item_text">
                  <h4>Why Pick Udaipur for Your Dreamy Wedding</h4>
                  <ol>
                    <li>Castles, palaces, lakes and absolute Luxury. This is what Udaipur truly is. Udaipur is also known as the 'Kashmir of Rajasthan' but it truly is the most passionate Oasis in India.</li>
                    <li>It’s a romantic city that cruses one with a sense of history. You’ll get various enchanting places that are highlighted due to its architectural splendor. The beautiful city has regal palace buildings that are designed in contemporary style</li>
                    <li>The Leela, The Taj Lake Palace, and The Trident are some of the best options that you will like to splurge. Locations like Devi Garh, Manek Chowk, Oberoi Udaivilas, Durbar Hall at Fateh Prakash Palace, and many more can be chosen for the special day.</li>
                    <li>Synonymous with royal weddings, Udaipur is also much famed due to its rich heritage, cultural magnificence and famous mirchi bada, pyaaz kachori, daal-baati-choorma there is no way one can be disappointed with this classy destination. Surrounded by four lakes on all sides, it surely turns a dream wedding into a reality.</li>

                  </ol>
              </div>
            </div>
          </div>
        </div>

<div class="container" id="test-swipe-2">
							<div class="row">
                 <div class="col l4">
                <img  class="responsive-img" src="images/top_1.jpg" alt="">
              </div>
							<div class="col l8">
								<h2 class="center teal-text"> Get Married In Goa</h2>
								<div class="item_text">
                  <h4> Why Pick Goa for Your Dreamy Wedding</h4>
                  <ol>
                    <li>It is the trendiest and most prevalent places to get married. The beach, the waves </li>
                    <li>the sunset set a perfect mood for the ceremony.A perfect blend of blue skies, lush greens and deep waters Goa definitely tops the list when it comes for beach weddings.</li>
                    <li>Park Hyatt Goa, The Taj, The Leela and Radisson Resorts are amongst the most popular wedding venues where many couples like to get married and enjoy the pleasant atmosphere all along.</li>
                    <li>Due to its several specialties in food such as special sea food and tinge of Portugal culture , this location is considered as one of the best places to get hitched.</li>
                    <li>It’s one of the most unsurpassed choices for a wedding since it’s a tropical ecstasy that can immerse everyone into its lure and aroma.</li>
                  </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="container" id="test-swipe-3">
        							<div class="row">
                         <div class="col l4">
                        <img  class="responsive-img" src="images/top_1.jpg" alt="">
                      </div>
        							<div class="col l8">
        								<h2 class="center teal-text"> Get Married In Kerala</h2>
        								<div class="item_text">
                          <h4> Why Pick Goa for Your Dreamy Wedding</h4>
                          <ol>
                            <li>God’s Own Country, Kerala is the ideal place for those looking for a quiet yet picturesque wedding. Kerala gives you the perfect beach wedding with a pinch of Malayalam twist. </li>
                            <li>Amidst emerald green palms and turquoise waters lies the calmness of the city.</li>
                            <li>You may choose to have your wedding ceremony at Varkala or Kovalam; amongst the straggling tea gardens of Munnar; or in the heritage building of Kochi fort, as these destinations offer striking views that would remain etched in one’s memory forever.</li>
                            <li>The heritage building of Kochi fort, this destination offers striking views that would remain etched in one’s memory forever.</li>

                          </ol>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container" id="test-swipe-4">
                              <div class="row">
                                 <div class="col l4">
                                <img  class="responsive-img" src="images/top_1.jpg" alt="">
                              </div>
                              <div class="col l8">
                                <h2 class="center teal-text"> Get Married In Jodhpur</h2>
                                <div class="item_text">
                                  <h4> Why Pick Jodhpur for Your Dreamy Wedding</h4>
                                  <ol>
                                    <li>The striking balance of historical and contemporary implication has converted this city into a pleasant wedding destination.</li>
                                    <li>Jodhpur will simply meet your desire with its fascinating monuments, gardens and temples. The desert capital of India will surely add an iconic touch to your wedding.</li>
                                    <li>The blue shade of this Sun City and its royal palaces are known to make weddings extravagant. Mehrangarh Fort is one of the perfect wedding destinations as it creates a royal ambience all around. Choosing the Umaid Bhawan palace is also not a bad idea.</li>
                                    <li>It’s famous Dal choorma, Doodh laddoo, Ghevar, Mawa ki kachori and many more will surely leave their flavor in your mind.</li>

                                  </ol>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="container" id="test-swipe-5">
                                      <div class="row">
                                         <div class="col l4">
                                        <img  class="responsive-img" src="images/top_1.jpg" alt="">
                                      </div>
                                      <div class="col l8">
                                        <h2 class="center teal-text"> Get Married In  Amritsar</h2>
                                        <div class="item_text">
                                          <h4> Why Pick  Amritsar for Your Dreamy Wedding</h4>
                                          <ol>
                                            <li>Set in the heart of Punjab, the city of golden temple adds devotion and cultural heritage. The city for food lovers, Amritsar can never disappoint when it comes to food and delicacies.</li>
                                            <li>The famous food includes Sarso da Saag- makki ki roti, Dal makhni and an all-time famous butter chicken and butter naan.</li>
                                            <li>Summers, winters, and monsoons are to be avoided as Amritsar has extreme weather conditions. The months from September to November and February to March are appropriate for celebrations.</li>
                                            <li>The symbol of equality and brotherhood also forms one of the best sites for weddings embodying the Sikh heritage. The lush green grass, lakes and the fragrance of flowers will surely add magic to the mood and the wedding</li>

                                          </ol>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="container" id="test-swipe-6">
                                              <div class="row">
                                                 <div class="col l4">
                                                <img  class="responsive-img" src="images/top_1.jpg" alt="">
                                              </div>
                                              <div class="col l8">
                                                <h2 class="center teal-text"> Get Married In Agra</h2>
                                                <div class="item_text">
                                                  <h4> Why Pick Agra for Your Dreamy Wedding</h4>
                                                  <ol>
                                                    <li>What could be more exciting and romantic than giving pledges with the epitome of love in the backdrop!</li>
                                                    <li>Enchanted by the Mughal and Brij culture, Agra offers an interesting and pleasant ambience for a wedding. Its specialized cuisines add Mughlai food, Bedhai and Kachori, DaalMoth and evergreen Chaat.</li>
                                                    <li>There are many wedding venues in Agra, which are popular for arranging wedding ceremonies in a royal way. This city has many gigantic hotels and resorts looking across the Taj where many people organize their wedding ceremonies</li>


                                                  </ol>
                                              </div>
                                            </div>
                                          </div>
                                        </div>



        <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
<script>
$(document).ready(function(){
 $('.fixed-action-btn').floatingActionButton();
});


$(document).ready(function(){
    $('.collapsible').collapsible();
  });

  $(document).ready(function(){
     $('.tabs').tabs();
   });
</script>



<% include ../partials/footer %>
